<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
      ## Vision
      
      Vi möjliggör ett digitalt samhällsbyggande där information hanteras på ett öppet, säkert och effektivt sätt som i sin tur möjliggör hållbara lösningar, spårbarhet, kostnadsbesparingar, effektiviseringar, industrialisering och nya affärsmodeller.
      
      Aktörer i samhällsbyggnadsbranschen utvecklar Riktlinjerna tillsammans med varandra för att skapa enhetliga och relevanta rekommendationer.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
  