.active-nav {
    border-bottom: 6px solid #1d5294;
}

.scroll-container {
    overflow-x: scroll;
}

/**
 * Hide scrollbar explicit in windows
 */
.scroll-container::-webkit-scrollbar {
    display: none;
}

mat-toolbar {
    background-color: white;
}