<mat-toolbar>
  <div class="scroll-container">
    <mat-nav-list style="display:flex; flex-direction: row;">
      <a *ngFor="let link of links" mat-list-item [routerLink]="link.url" routerLinkActive="active-nav"> {{ link.label }} </a>
    </mat-nav-list>
  </div>
</mat-toolbar>
