<mat-nav-list>
  <a mat-list-item target="_blank" [href]="input?.url + '/assets/' + file.path" *ngFor="let file of input?.fileList | async">
    <h3 matLine>{{ file.title }}</h3>
    <p matLine>{{ file.description }}</p>
  </a>
</mat-nav-list>