:host {
    display: flex;
    flex-direction: row;
}

:host > * > * {
    display: flex;

    flex: 1 1 auto;
}

@media only screen and (max-width: 800px) {
    :host {
        display: flex;
        flex-direction: column;
    }
    
  }