<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button [routerLink]="['..']">Tillbaka</button>
  </mat-toolbar-row>
</mat-toolbar>

<nrb-page-container style="max-width: 1200px !important;">

  <nrb-card>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{font-size:14px;padding:2px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
      .tg th{font-size:14px;font-weight:normal;padding:2px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
      .tg .tg-513f{font-size:12px;background-color:#c2d7ea;color:#333333;border-color:#c2d7ea;text-align:left;vertical-align:top}
      .tg .tg-uel8{font-weight:bold;font-size:12px;background-color:#d1e3cf;border-color:#efefef;text-align:center;vertical-align:middle}
      .tg .tg-23tm{font-weight:bold;font-size:15px;background-color:#0070c0;color:#ffffff;border-color:#71aedd;text-align:left;vertical-align:top}
      .tg .tg-y5u0{font-weight:bold;font-size:12px;background-color:#c2d7ea;border-color:#c2d7ea;text-align:left;vertical-align:top}
      .tg .tg-9b5l{font-size:12px;background-color:#c2d7ea;border-color:#c2d7ea;text-align:left;vertical-align:top}
      .tg .tg-sm8r{font-weight:bold;font-size:12px;border-color:#efefef;text-align:left;vertical-align:top}
      .tg .tg-iuru{font-size:12px;border-color:#efefef;text-align:left;vertical-align:top}
      .tg .tg-wqpm{font-size:12px;background-color:#c2d7ea;border-color:#c2d7ea;text-align:left;vertical-align:top}
      .tg .tg-lbd0{font-weight:bold;font-size:12px;background-color:#c2d7ea;color:#333333;border-color:#c2d7ea;text-align:left;vertical-align:top}
      @media screen and (max-width: 800px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
      <div style="overflow-x: scroll;" class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 970px">
      <colgroup>
      <col style="width: 170px">
      <col style="width: 40px">
      <col style="width: 150px">
      <col style="width: 250px">
      <col style="width: 200px">
      <col style="width: 160px">
      </colgroup>
        <tr>
          <th class="tg-23tm">Skede</th>
          <th class="tg-23tm">Kod</th>
          <th class="tg-23tm">Syfte</th>
          <th class="tg-23tm">Klassdefinition</th>
          <th class="tg-23tm">Aktiviteter</th>
          <th class="tg-23tm">Exempel på resultat</th>
        </tr>
        <tr>
          <td class="tg-y5u0">Idéskede</td>
          <td class="tg-y5u0">0</td>
          <td class="tg-y5u0">Initiativ</td>
          <td class="tg-9b5l"><span style="font-style:italic">process</span> där behov framträder och fastställs</td>
          <td class="tg-9b5l"></td>
          <td class="tg-9b5l"></td>
        </tr>
        <tr>
          <td class="tg-sm8r">Marknadsanalys</td>
          <td class="tg-sm8r">0.1</td>
          <td class="tg-sm8r">Marknadsundersökning</td>
          <td class="tg-iuru">del av <span style="font-style:italic">initiativ</span> där (framtida) behov av en byggd tillgång identifieras</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">marknadsanalys, behovsanalys, strategisk orientering</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Affärsanalys</td>
          <td class="tg-sm8r">0.2</td>
          <td class="tg-sm8r">Affärsanalys</td>
          <td class="tg-iuru">del av <span style="font-style:italic">initiativ</span> där ett strukturerat beslutsunderlag utarbetas, med risker och framgångsfaktorer identifierade</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">kostnadsöverslag, lönsamhetskalkyl, finansieringsanalys</td>
        </tr>
        <tr>
          <td class="tg-y5u0">Planeringsskede<br>Programskede</td>
          <td class="tg-y5u0">1</td>
          <td class="tg-y5u0">Planering</td>
          <td class="tg-9b5l"><span style="font-style:italic">process</span> som syftar till att inventera behov och förutsättningar och formulera krav för ett <span style="font-style:italic">byggresultat</span></td>
          <td class="tg-9b5l">utredning, kalkylering, miljöplanering, riskhantering, tidsplanering</td>
          <td class="tg-9b5l"></td>
        </tr>
        <tr>
          <td class="tg-sm8r">Projektstart</td>
          <td class="tg-sm8r">1.1</td>
          <td class="tg-sm8r">Projektstart</td>
          <td class="tg-iuru">del av <span style="font-style:italic">planering</span> där den övergripande omfattningen definieras och behoven analyseras</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">verksamhetsbeskrivning</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Förstudie</td>
          <td class="tg-sm8r">1.2</td>
          <td class="tg-sm8r">Förstudie</td>
          <td class="tg-iuru">del av <span style="font-style:italic">planering</span> där möjligheterna att tillfredsställa behoven undersöks</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">åtgärdsvalsstudie, genomförbarhetsstudie, miljökonsekvensbeskrivning</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Programskede</td>
          <td class="tg-sm8r">1.3</td>
          <td class="tg-sm8r">Programskrivning</td>
          <td class="tg-iuru">del av <span style="font-style:italic">planering</span> där ambitioner, krav, önskemål, förväntningar, begränsningar och myndighetskrav identifieras, analyseras och dokumenteras</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">programhandling, utrymmesprogram, byggnadsprogram, rumsfunktionsprogram, vägutredning, järnvägsutredning</td>
        </tr>
        <tr>
          <td class="tg-y5u0">Projekteringsskede</td>
          <td class="tg-y5u0">2</td>
          <td class="tg-y5u0">Projektering</td>
          <td class="tg-9b5l"><span style="font-style:italic">process</span> som syftar till att utarbeta och redovisa lösningar som uppfyller ställda krav för ett byggresultat</td>
          <td class="tg-9b5l">utredning, kalkylering, utformning, konstruktion, textframställning, bildframställning, ritarbete, modellering, mängdning</td>
          <td class="tg-9b5l"></td>
        </tr>
        <tr>
          <td class="tg-sm8r">Förslagshandlingsskede</td>
          <td class="tg-sm8r">2.1</td>
          <td class="tg-sm8r">Funktionsbestämning</td>
          <td class="tg-iuru"><span style="font-style:italic">projektering</span> på funktionell nivå</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">förslagshandling</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Systemhandlingsskede</td>
          <td class="tg-sm8r">2.2</td>
          <td class="tg-sm8r">Typbestämning</td>
          <td class="tg-iuru"><span style="font-style:italic">projektering</span> på övergripande konstruktiv nivå</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">systemhandling</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Bygghandlingsskede</td>
          <td class="tg-sm8r">2.3</td>
          <td class="tg-sm8r">Detaljbestämning</td>
          <td class="tg-iuru"><span style="font-style:italic">projektering</span> på detaljerad konstruktiv nivå</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">bygghandling</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Produktionshandlingsskede</td>
          <td class="tg-sm8r">2.4</td>
          <td class="tg-sm8r">Produktionsbestämning</td>
          <td class="tg-iuru"><span style="font-style:italic">projektering</span> för tillverkning</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">tillverkningshandling</td>
        </tr>
        <tr>
          <td class="tg-uel8" colspan="6">Observera att upphandling - beroende på syfte och entreprenadform - kan göras när som helst under skede 1, 2, 4 och 5</td>
        </tr>
        <tr>
          <td class="tg-y5u0">Upphandlingsskede</td>
          <td class="tg-y5u0">3</td>
          <td class="tg-y5u0">Upphandling</td>
          <td class="tg-9b5l"><span style="font-style:italic">process</span> som syftar kontraktera leverantör av byggvara och/eller byggresultat<br><br>Not: Planering, projektering, produktion, drift och underhåll åstadkommer byggresultat.</td>
          <td class="tg-9b5l">anbudsförfrågan, kalkylering, anbudsgivning, värdering, accept, inköp, försäljning</td>
          <td class="tg-9b5l">förfrågningsunderlag, offert, anbud, upphandlingsbeslut, avtal, ramavtal</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Förfrågningsskede</td>
          <td class="tg-sm8r">3.1</td>
          <td class="tg-sm8r">Förfrågan och anbud</td>
          <td class="tg-iuru">del av <span style="font-style:italic">upphandling</span> då förfrågan och anbud bedöms</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-sm8r">Kontraktsskede</td>
          <td class="tg-sm8r">3.2</td>
          <td class="tg-sm8r">Kontraktskrivning</td>
          <td class="tg-iuru">del av <span style="font-style:italic">upphandling</span> då kontrakt om inköp och/eller produktion upprättas</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-y5u0">Produktionsskede</td>
          <td class="tg-y5u0">4</td>
          <td class="tg-y5u0">Produktion</td>
          <td class="tg-9b5l"><span style="font-style:italic">process</span> som syftar till att framställa <span style="font-style:italic">byggvara</span> eller <span style="font-style:italic">byggresultat</span></td>
          <td class="tg-9b5l"></td>
          <td class="tg-9b5l">produktionshandling, produktionstidsplan, relationshandling, drifts- och underhållsinstruktion, skötselplan, ekonomiavstämning, slutfakturering, avslutsmöte, avslut av projekt</td>
        </tr>
        <tr>
          <td class="tg-sm8r">Varuproduktionsskede</td>
          <td class="tg-sm8r">4.1</td>
          <td class="tg-sm8r">Varuproduktion</td>
          <td class="tg-iuru"><span style="font-style:italic">produktion</span> av <span style="font-style:italic">byggvara</span></td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru">Råmaterialframställning</td>
          <td class="tg-iuru">4.11</td>
          <td class="tg-iuru">Råmaterialframställning</td>
          <td class="tg-iuru">framställning av råmaterial för <span style="font-style:italic">byggvara</span><br><br>Not: Motsvarar skede A1 Råmaterial i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru">Råmaterialtransport</td>
          <td class="tg-iuru">4.12</td>
          <td class="tg-iuru">Råmaterialtransport</td>
          <td class="tg-iuru">förflyttning av råmaterial till plats för <span style="font-style:italic">varuproduktion</span><br><br>Not: Motsvarar skede A2 Transport i SS-EN 15978:2011</td>
          <td class="tg-iuru">lastning, lossning, transport</td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru">Varutillverkning</td>
          <td class="tg-iuru">4.13</td>
          <td class="tg-iuru">Varutillverkning</td>
          <td class="tg-iuru"><span style="font-style:italic">varuproduktion</span> genom förädling av råmaterial<br><br>Not: Motsvarar skede A3 tillverkning i SS-EN 15978:2011</td>
          <td class="tg-iuru">tillverkning</td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru">Varudistribution</td>
          <td class="tg-iuru">4.14</td>
          <td class="tg-iuru">Varudistribution</td>
          <td class="tg-iuru">förflyttning av <span style="font-style:italic">byggvara</span> till plats för <span style="font-style:italic">byggproduktion</span><br><br>Not: Motsvarar skede A4 Transport i SS-EN 15978:2011</td>
          <td class="tg-iuru">lastning, lossning, transport</td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-sm8r">Byggproduktionsskede</td>
          <td class="tg-sm8r">4.2</td>
          <td class="tg-sm8r">Byggproduktion</td>
          <td class="tg-iuru"><span style="font-style:italic">produktion</span> av <span style="font-style:italic">byggd miljö</span><br><br>Not: Motsvarar skede A5 Byggproduktion i SS-EN 15978:2011</td>
          <td class="tg-iuru">(samtliga tekniska ĺtgärder)</td>
          <td class="tg-iuru">nybyggnad, tillbyggnad, ombyggnad, renovering</td>
        </tr>
        <tr>
          <td class="tg-iuru">Etableringsskede</td>
          <td class="tg-iuru">4.21</td>
          <td class="tg-iuru">Etablering och hjälparbeten</td>
          <td class="tg-iuru">praktiska aktiviteter före <span style="font-style:italic">byggproduktion</span></td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">tillfälliga anläggningar</td>
        </tr>
        <tr>
          <td class="tg-iuru">Byggskede</td>
          <td class="tg-iuru">4.22</td>
          <td class="tg-iuru">Bygg-, installations- och anläggningsarbete</td>
          <td class="tg-iuru">aktiviteter under <span style="font-style:italic">byggproduktion</span></td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru">Slutskede</td>
          <td class="tg-iuru">4.23</td>
          <td class="tg-iuru">Avetablering och återställande</td>
          <td class="tg-iuru">praktiska aktiviteter efter <span style="font-style:italic">byggproduktion</span></td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">slutskede</td>
        </tr>
        <tr>
          <td class="tg-iuru">Driftsättning</td>
          <td class="tg-iuru">4.24</td>
          <td class="tg-iuru">Driftsättning</td>
          <td class="tg-iuru">verifiering av krav ställda på <span style="font-style:italic">byggproduktion</span></td>
          <td class="tg-iuru">kontroll, besiktning</td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru">Överlämnning</td>
          <td class="tg-iuru">4.25</td>
          <td class="tg-iuru">Överlämnning</td>
          <td class="tg-iuru">överlämning av <span style="font-style:italic">byggproduktion</span> till användning</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru">Godkännande</td>
          <td class="tg-iuru">4.26</td>
          <td class="tg-iuru">Godkännande</td>
          <td class="tg-iuru">myndigheters godkännande av <span style="font-style:italic">byggproduktion</span></td>
          <td class="tg-iuru">kontroll, besiktning</td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-y5u0">Användningsskede</td>
          <td class="tg-y5u0">5</td>
          <td class="tg-y5u0">Användning</td>
          <td class="tg-wqpm">process som syftar till att nyttja och vidmakthĺlla byggresultat</td>
          <td class="tg-wqpm">(samtliga tekniska åtgärder)</td>
          <td class="tg-wqpm"></td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-sm8r">5.1</td>
          <td class="tg-sm8r">Brukande</td>
          <td class="tg-iuru"><span style="font-style:italic">användning</span> genom nyttjande<br><br>Not: Motsvarar skede B1 Användning, B6 Energianvändning och B7 Vattenanvändning i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"><span style="font-weight:bold">[funktionsanvändning] </span>produktanvändning</td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-sm8r">5.2</td>
          <td class="tg-sm8r">Drift</td>
          <td class="tg-iuru"><span style="font-style:italic">användning</span> genom upprätthållande av funktion<br><br>Not 1: Kombination av alla tekniska, administrativa och planerande aktiviteter, <span style="font-weight:bold">annat än underhåll</span>, som resulterar i att ett objekt används. [Källa: SS-EN 13306:2010]<br>Not 2: I drift ingår till exempel städning, renhållning, snöröjning, temperaturreglering, ersättning av förbrukningsmaterial, smörjning, filterbyte.<br>Not 3: Motsvarar skede B1 Användning  i SS-EN 15978:2011</td>
          <td class="tg-iuru">skötsel</td>
          <td class="tg-iuru"><span style="font-weight:bold">[funktionsupprätthållande]</span> rondering, tillsyn, skötsel</td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-sm8r">5.3</td>
          <td class="tg-sm8r">Underhåll</td>
          <td class="tg-iuru"><span style="font-style:italic">användning</span> genom återställande av funktion<br><br>Not 1: Kombination av alla tekniska, administrativa och planerande aktiviteter under livscykeln för ett objekt som syftar till att bibehålla det i, eller återställa det till, ett tillstånd som gör att det kan utföra sin erforderliga funktion. [Källa: SS-EN 13306:2010]<br>Not 2: Motsvarar skede B2 Underhåll, B3 Reparation, B4 Utbyte och B5 Renovering i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"><span style="font-weight:bold">[funktionsåterställande] </span>reparation, renovering</td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">5.31</td>
          <td class="tg-iuru">Förebyggande underhåll</td>
          <td class="tg-iuru"><span style="font-style:italic">underhåll</span> som genomförs vid förutbestämda intervall eller enligt förutbestämda kriterier och i avsikt att minska sannolikheten för fel eller degradering av en enhets funktion<br><br>Not: Motsvarar 7.1 Förebyggande underhåll, 7.2 Förutbestämt underhåll, 7.3 Tillståndsbaserat underhåll, 7.4 Förutsägbart underhåll och 7.8 Schemalagt underhåll i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">planerat underhåll, förutbestämt underhåll, förutsägbart underhåll, schemalagt underhåll</td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">5.32</td>
          <td class="tg-iuru">Avhjälpande underhåll</td>
          <td class="tg-iuru"><span style="font-style:italic">underhåll</span> som genomförs efter det att ett funktionsfel upptäckts och med avsikt att få en enhet i ett sådant tillstånd att den kan utföra krävd funktion<br><br>Not: Motsvarar 7.5 Avhjälpande underhåll, 7.6 Uppskjutet avhjälpande underhåll och 7.7 Akut avhjälpande underhåll i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">reparation, lagning</td>
        </tr>
        <tr>
          <td class="tg-lbd0">Avvecklingsskede<br>Slutskede</td>
          <td class="tg-lbd0">6</td>
          <td class="tg-lbd0">Avveckling</td>
          <td class="tg-513f"><span style="font-style:italic">process</span> som syftar till att omhänderta <span style="font-style:italic">byggresultat</span> som inte längre ska användas</td>
          <td class="tg-513f"></td>
          <td class="tg-513f"></td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-sm8r">6.1</td>
          <td class="tg-sm8r">Demontering och rivning</td>
          <td class="tg-iuru"><span style="font-style:italic">avveckling </span>genom borttagande<br><br>Not: Motsvarar skede C1 Rivning i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">6.11</td>
          <td class="tg-iuru">Demontering</td>
          <td class="tg-iuru"><span style="font-style:italic">avveckling </span>genom demontering</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">6.12</td>
          <td class="tg-iuru">Rivning</td>
          <td class="tg-iuru"><span style="font-style:italic">avveckling</span> genom rivning</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-sm8r">6.2</td>
          <td class="tg-sm8r">Avfallstransport</td>
          <td class="tg-iuru"><span style="font-style:italic">avveckling</span> genom förflyttning av restprodukt till annan plats<br><br>Not: Motsvarar skede C2 Avfallstransport i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-sm8r">6.3</td>
          <td class="tg-sm8r">Avfallshantering</td>
          <td class="tg-iuru"><span style="font-style:italic">avveckling</span> genom bedömning av restproduktens användbarhet<br><br>Not: Motsvarar skede C3 Avfallshantering i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru">källsortering</td>
        </tr>
        <tr>
          <td class="tg-iuru"></td>
          <td class="tg-sm8r">6.4</td>
          <td class="tg-sm8r">Sluthantering</td>
          <td class="tg-iuru"><span style="font-style:italic">avveckling</span> genom återanvändning (återbruk), återutnyttjande, återvinning eller deponi av restprodukt<br><br>Not: Motsvarar skede C4 Sluthantering i SS-EN 15978:2011</td>
          <td class="tg-iuru"></td>
          <td class="tg-iuru"></td>
        </tr>
      </table></div>
  </nrb-card>
  
</nrb-page-container>
