<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Tillgångsinformationskrav

      <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">Tillgångsinformationskrav</a> definierar organisatoriska och tekniska <a href="/concepts/aspekt-ss-en-81346-12010" target="_blank">aspekter</a> av att producera tillgångsinformation.
      
      <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">Tillgångsinformationskrav</a> kan vara relaterade till aktiviteter såsom planerat underhåll, inspektion av brandsäkerhetsutrustning, utbyte av komponenter eller byte av en organisation som ansvarar för <a href="/concepts/forvaltning-av-tillgangar-ss-iso-550002014" target="_blank">förvaltning av tillgångar</a>.
      
      Tillgångsförvaltare skall definiera vilka <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">tillgångsinformationskrav</a> som gäller. Dessa krav ska innehålla krav på <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">tillgångsinformationsmodeller</a> inklusive drift- och underhållsinstruktioner och produktdatablad.
      
      Tillgångsförvaltare ska exempelvis tillhandahålla <a href="/concepts/anvisning-svensk-ordbok-2009" target="_blank">anvisningar</a> för <a href="/concepts/referensbeteckning-ss-en-81346-12010" target="_blank">referensbeteckningar</a> som underlag till driftentreprenörer när en fläkt ska bytas ut i ett ventilationssystem.
      
      Krav på <a href="/concepts/referensbeteckning-ss-en-81346-12010" target="_blank">referensbeteckning</a> ska också utgöra en del av <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">tillgångsinformationskrav</a> vid ny- eller ombyggnad av en byggnad eller anläggning. Utöver <a href="/concepts/anvisning-svensk-ordbok-2009" target="_blank">anvisningar</a> för <a href="/concepts/referensbeteckning-ss-en-81346-12010" target="_blank">referensbeteckning</a> bör tillgångsförvaltare ha särskilda <a href="/concepts/anvisning-svensk-ordbok-2009" target="_blank">anvisningar</a> för vilka funktionella eller tekniska lösningar som får förekomma i deras byggnader eller anläggningar med hänsyn till exempelvis drift- eller miljöaspekter. Dessa anvisningar kan gälla för tillämpning av vissa material, produkter, tekniska lösningar, m.m.
      
       <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">Tillgångsinformationskrav</a> kan uttryckas som en samling av olika krav, såsom krav på strukturering av information, krav på <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a>, krav på funktionella och tekniska principer, m.m. Grundprincipen ska dock vara att kraven uttrycks utifrån samma principer som övriga krav som är aktuella i <a href="/concepts/tillgang-isodis-19650-122018" target="_blank">tillgångens</a> <a href="/concepts/livscykel-isodis-19650-122018" target="_blank">livscykel</a>.

      #### Metoder för tillgångsinformationskrav

      Klassifikationssystemet <a href="https://coclass.byggtjanst.se/login" target="_blank">CoClass</a> ska tillämpas som en [systematik för referensbeteckningar](/assets/docs/Referensbeteckning_med_CoClass.pdf) som gör att <a href="/concepts/system-ss-en-81346-12010" target="_blank">system</a> och <a href="/concepts/komponent-ss-en-81346-12010" target="_blank">komponenter</a> kan identifieras utifrån olika <a href="/concepts/aspekt-ss-en-81346-12010" target="_blank">aspekter</a>, såsom <a href="/concepts/placering-ss-en-81346-12010" target="_blank">placering</a> eller <a href="/concepts/funktion-ss-en-81346-12010" target="_blank">funktion</a>.

      <a href="https://coclass.byggtjanst.se/login" target="_blank">CoClass</a> ska också tillämpas som <a href="/concepts/metod-rikstermbanken" target="_blank">metod</a> för att strukturera funktionella eller tekniska <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">tillgångsinformationskrav</a>.

      <a href="/concepts/leveransspecifikation-bygghandlingar-90-del-8" target="_blank">Leveransspecifikationer</a> skall användas för <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">tillgångsinformationsmodeller</a> inklusive dokument såsom driftinstruktioner och produktdatablad. <a href="/concepts/leveransspecifikation-bygghandlingar-90-del-8" target="_blank">Leveransspecifikationer</a> ska baseras på ett strukturerat sätt att uttrycka det aktuella <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">informationsbehovet</a>. Metodiken definieras på engelska som <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">Level of Information Need (LOIN)</a>.

      <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">LOIN</a> är närbesläktat med det som kallas för <a href="/concepts/lod-level-of-detail-nrb" target="_blank">Level of Detail (LOD)</a>. <a href="/concepts/lod-level-of-detail-nrb" target="_blank">LOD</a> utgår primärt från geometri. En <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">LOIN</a> utgår från information inklusive geometri i kravställningen. Tillämpning av <a href="/concepts/lod-level-of-detail-nrb" target="_blank">LOD</a> förekommer inom <a href="/concepts/geodata-nrb" target="_blank">geodata</a> och tillämpas bland annat av <a href="https://www.lantmateriet.se/" target="_blank">Lantmäteriet</a>.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
  