<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Organisation

Beroende på organisation och livscykelskede behövs det olika organisatoriska roller som har ansvar för informationshanteringen.

Grundprincipen är att det för varje <a href="/concepts/informationsleverans-isodis-19650-122018e">informationsleverans</a> ska identifieras en <a href="/concepts/bestallare-isodis-19650-122018">beställare</a> och en <a href="/concepts/utforare-isodis-19650-122018">utförare</a>. Samtliga aktörer som hanterar <a href="/concepts/information-isodis-19650-122018">information</a> i <a href="/concepts/livscykel-isodis-19650-122018">livscykeln</a> av byggnader eller anläggningar ska följa uppsatta riktlinjer för informationshantering. Det är med andra ord inte enbart en uppgift för en informationssamordnare.

Vid användning av en <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängd</a> ansvarar den som använder informationen för att säkerställa att <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a> är kompletta och korrekta utifrån gällande informationskrav. Vid leverans av informationsmängder ansvarar <a href="/concepts/utforare-isodis-19650-122018">utförare</a> för att säkerställa att informationsmängder är kompletta och korrekta utifrån gällande <a href="/concepts/informationskrav-isodis-19650-122018">informationskrav</a>.

En <a href="/concepts/bestallare-isodis-19650-122018">beställare</a> ska ställa krav på ansvariga för informationshantering i informationsleveransprocessen och dokumentera dessa. Sådana krav kan exempelvis vara del av en entreprenadupphandling.

För livcykelinformationsprocessen, eller specifika delar av den, ska En <a href="/concepts/bestallare-isodis-19650-122018">beställaren</a> tillsätta en informationsstrateg som definierar och verifierar informationskraven. Rollen ansvarar för upprättande och implementering av en BIM-strategi och <a href="/concepts/genomforandeplan-for-bim-isodis-19650-122018">genomförandeplan för BIM</a> (på engelska <a href="/concepts/genomforandeplan-for-bim-isodis-19650-122018-en">BIM execution plan</a>). Rollen definieras i dagsläget vanligen som en BIM-strateg. En <a href="/concepts/genomforandeplan-for-bim-isodis-19650-122018">genomförandeplan för BIM</a> definieras i dagsläget vanligen som en informationssamordningsmanual eller som en BIM- eller CAD-manual.

Tillämpning av informationskrav för <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018">tillgångsinformationsmodellen</a> eller <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a> bör ske med olika specialiserade organisatoriska roller, såsom en informationssamordnare. En informationssamordnare har typiskt ansvar för modellsamordning, <a href="/concepts/leveransspecifikation-bygghandlingar-90-del-8">leveransspecifikationer</a>, <a href="/concepts/gemensam-datamiljo-isodis-19650-122018">gemensam datamljö</a>, m.m. Rollen definieras i dagsläget vanligen som en BIM-samordnare, modellsamordnare eller datasamordnare.

Det ska upprättas en <a href="/concepts/gransdragningslista-bygghandlingar-90-del-8" target="_blank">gränsdragningslista</a> som uttrycker vilken part som har ansvaret för redovisning av informationsmängder och vilken part som ska bidra med information. Gränsdragningslistor ska struktureras enligt <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a>. En typ av gränsdragningslista är en <a href="/concepts/ansvarsmatris-isodis-19650-122018">ansvarsmatris</a>.

Ansvar för den <a href="/concepts/teknisk-samordning-bygghandlingar-90-del-8">tekniska samordningen</a> av exempelvis håltagningar för installationer eller samordning av installationer i undertak ska inte blandas samman med ansvar för informationssamordning. 

Gransknings- och godkännandeprocessen av informationsmängder utgör en viktig process i den övergripande livscykelinformationsprocessen. Precis som med ansvaret för teknisk samordning ska ansvar för granskning och godkännande inte blandas samman med ansvar för informationssamordning.

Den tekniska samordningsprocessen och granskning- och godkännandeprocessen är dock exempel på processer som ska integreras informationssamordningsprocessen.

Ett informationsmodellbaserat arbetssätt möjliggör nya arbetssätt och nya processer som exempelvis är mer integrerade jämfört med traditionella processer. Exempel på arbetssätt är <a href="/concepts/vdc-virtual-design-and-construction-bygghandlingar-90-del-7-utgava-2">virtual design and construction (VDC)</a>, integrated concurrent engineering (ICE), och <a href="/concepts/ipd-bim-handbook">integrated project delivery (IPD)</a>.

http://www.nationella-riktlinjer.se/concepts/ipd-bim-handbook
<a href="/concepts/ipd-bim-handbook">integrated project delivery (IPD)</a>

###	Metoder

* Att upprätta en BIM-strategi och en genomförandeplan för BIM

* Att upprätta en gränsdragningslista eller ansvarsmatris.

* Tillämning av avtalsmallar BIM Alliance

* Modellsamordning med BCF
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
