<nrb-page-container>
  <nrb-article>
    <nrb-article-image height="200px" url="/assets/images/tiles.jpg"></nrb-article-image>
    <nrb-article-text>
## Informationskrav

Kraven som aktörer har på en byggnad eller en anläggning ligger till
grund för kraven på informationen om byggnaden eller anläggningen.

En <a href="/concepts/bestallare-isodis-19650-122018" target="_blank">beställare</a> av <a href="/concepts/information-isodis-19650-122018" target="_blank">information</a> ska förstå vilken <a href="/concepts/information-isodis-19650-122018" target="_blank">information</a> som behövs gällande en <a href="/concepts/tillgang-isodis-19650-122018" target="_blank">tillgång</a> eller projekt. En <a href="/concepts/bestallare-isodis-19650-122018" target="_blank">beställare</a> av information ska kunna uttrycka dessa <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">krav</a> till <a href="/concepts/utforare-isodis-19650-122018" target="_blank">utförare</a> som behöver kraven för att utföra deras arbete. <a href="/concepts/bestallare-isodis-19650-122018" target="_blank">Beställaren</a> av informationen ska specificera syftet med <a href="/concepts/informationsleverans-isodis-19650-122018" target="_blank">informationsleveransen</a>.

Tydligt definierade syften och relaterade <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">informationskrav</a> möjliggör nyttoeffekter med själva <a href="/concepts/informationsleverans-isodis-19650-122018" target="_blank">informationsleveransen</a>. Om syftet och kraven inte är tillräckligt väl-definierade för en <a href="/concepts/informationsleverans-isodis-19650-122018" target="_blank">informationsleverans</a> är risken stor att nyttorna är låga eller i värsta fall negativa, dvs kostnader eller skador kan vara resultatet. <a href="/concepts/information-isodis-19650-122018" target="_blank">Information</a> som levereras, men som inte kan härledas till <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">informationskrav</a> anses vara överinformation och därmed spill.

En <a href="/concepts/bestallare-isodis-19650-122018" target="_blank">beställare</a> av information kan exempelvis vara en fastighetsutvecklare som uttrycker krav till en arkitekt, teknikkonsult eller projektledare på underlag till en hyresgästanpassning eller underlag till bedömning av förväntad energi- och vattenförbrukning. Det kan också vara en kommun som uttrycker <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">krav</a> till en fastighetsutvecklare på underlag till ett <a href="/concepts/bygglov-pbl-kunskapsbanken-en-handbok-om-plan-och-bygglagen" target="_blank">bygglov</a>.

<a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">Informationskrav</a> som avser <a href="/concepts/leveransskede-isodis-19650-122018" target="_blank">leveransskedet</a> av en <a href="/concepts/tillgang-isodis-19650-122018" target="_blank">tillgång</a> ska vara definierade enligt skedesindelningen som <a href="/concepts/bestallare-isodis-19650-122018" target="_blank">beställaren</a> tillämpar i ett projekt. Många <a href="/concepts/bestallare-isodis-19650-122018" target="_blank">beställare</a> delar in ett <a href="/concepts/projekt-isodis-19650-122018" target="_blank">projekt</a> enligt olika typer av traditionella handlingar, såsom program-, system- och bygghandlingsskedet.

I takt med att dessa traditionella handlingar bytts ut mot <a href="/concepts/projektinformationsmodell-isodis-19650-122018" target="_blank">projektinformationsmodeller</a> kan även skedesindelning ses över. <a href="/concepts/projektinformationsmodell-isodis-19650-122018" target="_blank">Projektinformationsmodeller</a> behöver inte nödvändigtvis följa den traditionella handlingsbaserade skedesindelningen och kan möjliggöra nya mer integrerade <a href="/concepts/process-bygghandlingar-90-del-8" target="_blank">processer</a>. Riktlinjerna utgår i denna version från en traditionell skedesindelning.

<a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">Informationskrav</a> som avser <a href="/concepts/driftskedet-isodis-19650-122018" target="_blank">driftskedet</a> av en <a href="/concepts/tillgang-isodis-19650-122018" target="_blank">tillgång</a> ska vara definierade enligt specifika syften och tillfällen där information behövs. Det kan exempel vara <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">informationskrav</a> för ett förutbestämt underhåll av en väg, upprättande av ett tillgångsregister, optimering av nyttjandegraden av en <a href="/concepts/tillgang-isodis-19650-122018" target="_blank">tillgång</a> eller underlag till myndighetskrav och kontroller.

Det finns olika typer av <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">informationskrav</a> och relaterade
<a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a>:

-   <a href="/concepts/organisationens-informationskrav-isodis-19650-122018" target="_blank">organisationens informationskrav</a>;
-   <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">tillgångsinformationskrav</a>;
-   <a href="/concepts/projektinformationskrav-isodis-19650-122018" target="_blank">projektinformationskrav</a>; och
-   <a href="/concepts/uppdragets-informationskrav-isodis-19650-122018" target="_blank">uppdragets informationskrav</a>
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
