<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button [routerLink]="['..']">Tillbaka</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-container">
  <nrb-resource-card
    *ngIf="concept"
    [resource]="concept"
    url="concepts/"
    title="term"
    sourceUrl="https://gitlab.com/swe-nrb/sbp-begreppslista/blob/master/raw_files/"
  ></nrb-resource-card>
  <div *ngIf="noResult"><em>Vi kunde inte hitta något begrepp med denna url.</em></div>
</div>
