:host {
    background-color: white;
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
}
div {
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 1 auto;
}