<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Plattformen på Gitlab

Vi använder oss av en öppen plattform i form av Gitlab som en plattform där samhällsbyggnadssektorn kan samarbeta för att utveckla sektorns informationshantering.

Information på Gitlab ligger i så kallade repon, vilket kan definieras som en lagringsplats. Repon kommer från det engelska ordet repository. [SWE-NRB](https://gitlab.com/swe-nrb) är en grupp på GitLab som vi har skapat i projektet nationella riktlinjer. Gruppen är öppen för alla. 

Vi använder repon i SWE-NRB för att hantera innehållet i Nationella riktlinjer. Alla ändringar som görs kan spåras i respektive repos händelselogg i GitLab.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
