<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Förvaltning

Förvaltningen som syftar till att vidareutveckla och förbättra Riktlinjerna kontrolleras av en förvaltningsgrupp som bland annat tillser att förbättringsförslag bearbetas enligt Riktlinjernas publikationsprocess. 

I dagsläget förvaltas Riktlinjerna av projektgruppen som har tagit fram Riktlinjerna inom ramen av Smart Built Environment. Planering pågår för en långsiktig lösning för förvaltningsorganisation. Förvaltningsgruppen består av följande medlemmar: (https://gitlab.com/groups/swe-nrb/-/group_members).
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
