<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Organisationens informationskrav

      <a href="/concepts/organisationens-informationskrav-isodis-19650-122018" target="_blank">Organisationens informationskrav</a> definieras utifrån <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">informationsbehovet</a> relaterat till övergripande mål som en <a href="/concepts/bestallare-isodis-19650-122018" target="_blank">beställare</a> har. Dessa <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">informationskrav</a> kan uppstå för olika anledningar, såsom strategisk verksamhetsplanering, klimatmål, säkerhetskrav, myndighetskrav, m.m.
      
      Klimatmål innehåller exempelvis bestämmelser kring klimatneutral drift av byggnader och anläggningar, eller kring klimatneutral projektgenomförande. För att uppnå dessa mål krävs <a href="/concepts/aktivitet-isoiecieee-152882015" target="_blank">aktiviteter</a> såsom planering, åtgärder och uppföljning som utgör underlag till <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">informationskrav</a>. Dessa <a href="/concepts/informationskrav-isodis-19650-122018" target="_blank">informationskrav</a> är i sin tur underlag till <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">tillgångsinformationskrav</a> eller <a href="/concepts/projektinformationskrav-isodis-19650-122018" target="_blank">projektinformationskrav</a>.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
  