<div class="page-container">
  <nrb-card [footer]="{ text: 'Tillbaka', url: ['/start']}" [headerImage]="'/assets/images/red-door.jpg'">
    <p>
      Denna del av webbplatsen är fortfarande under uppbyggnad. Kom tillbaka senare!
    </p>
  </nrb-card>
</div>

  