.nice-card {
    margin: 10px;
}

.concept-search > input {
    padding: 10px;
    margin: 20px 0px;
    border-radius: 50px;
    border: 1px solid #e8e8e8;
    font-size: 24px;
    width: 400px;
}

.card-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -24px !important;
}

.card-bottom > .flex {
    flex: 1;
}

.card-bottom > .tags {
    align-self: stretch;
    border-right: 1px solid black;
    border-right-color: rgba(0,0,0,.12);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center ;
}

.card-bottom > .tags > div {
    flex: 1;
}

.card-bottom > .actions {
    margin-left: 10px;
}

.liha-search-bar {
    padding-left: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    margin-right: 10px;
    flex: 1 1 auto;
    width: 100%;
}

.liha-search-bar > .mat-icon {
    margin-right: 10px;
}

.liha-search-bar > input {
    border: none;
    padding: 8px;
    font-size: 14px;
    width: 100%;
}

.concepts-container {
    display: flex;
    flex-direction: column;
}


.liha-advanced-search {
    padding-left: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    margin-right: 10px;
    flex: 1 1 auto;
    width: 100%;
    overflow-x: scroll;
}

.liha-advanced-search::-webkit-scrollbar {
    display: none;
}

.liha-advanced-search select {
    margin-right: 10px;
    border: none;
    background-color: white;
    font-size: 14px;
}