<form [formGroup]="filterForm">
<mat-toolbar>
  <mat-toolbar-row>
    <div class="liha-search-bar">
      <mat-icon svgIcon="nrb:search"></mat-icon>
      <input type="text" formControlName="term" placeholder="Sök bland {{ count }} begrepp" />
    </div>
    <app-infopack-file-browser infopack-url="http://storage.infopack.io/swe-nrb/sbp-begreppslista/latest"></app-infopack-file-browser>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="liha-search-bar">
      <mat-icon svgIcon="nrb:source"></mat-icon>
      <input type="text" matInput formControlName="source" [matAutocomplete]="auto" placeholder="Filtrera på källa">
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let source of filteredSources | async" [value]="source">
        {{ source }}
      </mat-option>
    </mat-autocomplete>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="liha-advanced-search">
      <select placeholder="Version">
        <option value="latest">Senaste</option>
      </select>
      <select formControlName="language" placeholder="Visa antal">
        <option [ngValue]="language" *ngFor="let language of languages">{{ language.name }}</option>
      </select>
      <select formControlName="tagName" placeholder="Visa antal">
        <option [ngValue]="tagNamePrePopulate">{{ tagNamePrePopulate.short_name }}</option>
        <option [ngValue]="tag" *ngFor="let tag of tags | async">{{ tag.short_name }}</option>
      </select>
      <select [hidden]="filterForm.get('tagName').value.short_name == 'all'" formControlName="tagStatus" placeholder="Visa antal">
        <option [ngValue]="tagStatus" *ngFor="let tagStatus of tagStatuses">{{ tagStatus.name }}</option>
      </select>
      <span style="flex: 1 1 auto"></span>
      <select formControlName="limit" placeholder="Visa antal">
        <option value="20" selected>20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
</form>

<div class="page-container">

  <div class="concepts-container">

    <div *ngIf="concepts$ | async as concepts; else loading">
      <ng-container *ngIf="concepts.length; else noItems">
        <nrb-resource-card
          *ngFor="let concept of concepts"
          [resource]="concept"
          url="concepts/"
          title="term"
          sourceUrl="https://gitlab.com/swe-nrb/sbp-begreppslista/blob/master/raw_files/"
        ></nrb-resource-card>
      </ng-container>
      <ng-template #noItems><em>Det finns inga begrepp att visa. Testa att ändra dina sökkriterier...</em></ng-template>
    </div>
    <ng-template #loading><em>Laddar...</em></ng-template>
  </div>

</div>
