<div id="container" #container>
  <markdown [data]="data" #markdown></markdown>
  <div #seeMoreShadow class="see-more-shadow" (click)="seeMore($event)">
    <div class="see-more-button">Se hela</div>
  </div>
</div>
