#container {
    position: relative;
    height: 80px;
    max-height: 80px;
    overflow: hidden;
}

.see-more-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    background-image: linear-gradient(to bottom, transparent, white);
    text-align: center;
}

.see-more-button {
    font-size: 12px;
    display: inline-block;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    pointer-events: none;
}
