<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Versionshantering

Allt material på Nationella riktlinjer versionshanteras. Det betyder att du som användare kan vara säker på att om du använder en riktlinjer i din verksamhet så kommer den inte förändras utan din vetskap.
    </nrb-article-text>
    <nrb-article-image padding="40px" backgroundSize="contain" url="/assets/images/versioning_1.png"></nrb-article-image>
    <nrb-article-text>
### Beprövad teknik

Vi använder samma verktyg som mjukvaruutvecklare använder för att hålla kolla på programkod.
    </nrb-article-text>
    <nrb-columns>
      <nrb-article-image padding="40px" backgroundSize="contain" url="/assets/images/versioning_2.png"></nrb-article-image>
      <nrb-article-text>
### Release notes

Vid varje förändring av informationen sparas en ögonblicksbild. Dessa ögonblicksbilder får ett unikt namn (ett versionsnummer) samt att vi skriver en sammanfattning (release notes) över de ändringar som har skett mellan två versioner. Det är möjligt att fortsätta använda en ögonblicksbild även om nyare ögonblicksbilder tillkommer. På så sätt kan du känna dig trygg med att använda informationen i t.ex. kontraktshandlingar.
      </nrb-article-text>
    </nrb-columns>
    <nrb-columns>
      <nrb-article-text>
### Jämför

Det är möjligt detaljstudera ner på teckennivå vad som skiljer en version från en annan. Det är också möjligt att studera "vad har hänt mellan de här tre versionerna". Det ger dig en trygghet inför att uppgradera till en nyare version då det alltid går att gå tillbaka till en viss version.
      </nrb-article-text>
      <nrb-article-image padding="40px" backgroundSize="contain" url="/assets/images/versioning_3.png"></nrb-article-image>
    </nrb-columns>
    <div style="background-color: white; padding-left: 50px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
