<mat-dialog-content>
  <p><strong>{{ tag.full_name }}</strong></p>
  <p><small>{{ tag.description }}</small></p>
  <div [ngClass]="statusClass">
    <p style="padding: 8px;">Status: {{ tag.status }} ({{ tag.percentDone | percent }})</p>
  </div>
  <h4>Process</h4>
  <mat-list>
    <mat-list-item *ngFor="let reviewStep of tag.review_steps; index as i;" [ngClass]="{ 'status-complete': reviewStep.complete, 'status-pending': !reviewStep.complete }">
      <h3 matLine [title]="reviewStep.description">{{ i + 1 }}. {{ reviewStep.name }}<span *ngIf="reviewStep.date"> - {{ reviewStep.date | date:'yyyy-MM-dd' }}</span></h3>
      <p matLine *ngIf="reviewStep.author">
        <small>
          <a *ngIf="reviewStep.author.linkedin" target="_blank" [href]="reviewStep.author.linkedin">{{ reviewStep.author.name }}</a>
          <span *ngIf="!reviewStep.author.linkedin">{{ reviewStep.author.name }}</span>
          <span *ngIf="reviewStep.comment"> - <span>{{ reviewStep.comment }}</span></span>
        </small>
      </p>
      <p matLine *ngIf="!reviewStep.complete"><em>Detta steg är inte avslutat ännu</em></p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
