<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Uppdragets informationskrav


<a href="/concepts/uppdragets-informationskrav-isodis-19650-122018" target="_blank">Uppdragets informationskrav</a> definierar organisatoriska och tekniska aspekter av att producera information relaterade till ett uppdrag.

<a href="/concepts/uppdragets-informationskrav-isodis-19650-122018" target="_blank">Uppdragets informationskrav</a> ska vara definierade utifrån <a href="/concepts/organisationens-informationskrav-isodis-19650-122018" target="_blank">organisationens informationskrav</a>, <a href="/concepts/tillgangsinformationskrav-isodis-19650-122018" target="_blank">tillgångsinformationskrav</a> och <a href="/concepts/projektinformationskrav-isodis-19650-122018" target="_blank">projektinformationskraven</a>.

<a href="/concepts/uppdragets-informationskrav-isodis-19650-122018" target="_blank">Uppdragets informationskrav</a> ska utgå från standarder och ska innehålla:
      
-   en specifikation av informationsleveransprocessen;
-   kvalitetssäkringsrutiner inklusive egenkontroll, granskning- och godkännande;
-   struktureringsprinciper för olika informationsmängder inklusive filbenämning och egenskaper, såsom presentation, klassifikation och status;
-   koordinatsystem;
-   format för olika <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a>;
-   en specifikation av krav på funktioner och format gällnde IT-verktyg för att framställa, lagra, granska och nyttja <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a> inklusive specifikation av en gemensam datamiljö eller så-kallad <a href="/concepts/gemensam-datamiljo-isodis-19650-122018" target="_blank">Common Data Environment (CDE)</a> som ska tillämpas. Observera: krav på tillämpning av specifika IT-verktyg ska undvikas; och
-   organisatoriska bestämmelser.

<a href="/concepts/uppdragets-informationskrav-isodis-19650-122018" target="_blank">Uppdragets informationskrav</a> ska vara definierade i form av en <a href="/concepts/genomforandeplan-for-bim-isodis-19650-122018" target="_blank">genomförandeplan för BIM</a> (på engelska <a href="/concepts/genomforandeplan-for-bim-isodis-19650-122018-en" target="_blank">BIM execution plan</a>). Riktlinjerna är framtagna på ett sådant sätt att de underlättar framtagning och förvaltning av genomförandeplaner för BIM, som dokument eller som webbaserad anvisning.

#### Metoder

Informationsleveransprocessen ska baseras på tillämpning av <a href="/concepts/leveransspecifikation-bygghandlingar-90-del-8" target="_blank">leveransspecifikationer</a> och <a href="/concepts/leveransmeddelande-bygghandlingar-90-del-8" target="_blank">leveransmeddelanden</a> för <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a>. <a href="/concepts/leveransspecifikation-bygghandlingar-90-del-8" target="_blank">Leveransspecifikationer</a> ska uttrycka aktuella <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">informationsbehov</a>.

En metod för egenkontroller som visar hur uppdragets informationskrav uppfylls och säkerställs vid leveranser ska tas fram av utföraren och ska godkännas av beställaren.

Granskningsstandarden för dokument och granskningsstandarden för modeller ska tillämpas.

En metod för filbenämning ska tillämpas.Strukturering av en fil ska ske med en standard för namnruta eller attribut på filnivå.
      
Strukturering av objekt i en fil ska ske med hjälp av <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a>. Det avser båda klassifikation av objekt med <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a>, men även definition av egenskaper för objekt med <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a>. Samtliga varor ska märkas med ett ETIM-nummer.

<a href="/concepts/egenskap-coclass" target="_blank">Egenskaper</a> (engelska: <a href="/concepts/egenskap-coclass-en" target="_blank">Property</a>) om ett objekt lagras genom en så-kallad attribut vilket kan ses som en platshållare för en egenskap och dess värde. Flera egenskaper kan tillsammans lagras som en så-kallad <a href="/concepts/egenskapsuppsattning-nrb-en" target="_blank">property set</a> på ett <a href="/concepts/objekt-ss-en-81346-12010" target="_blank">objekt</a>. Mallar med <a href="/concepts/egenskapsuppsattning-nrb-en" target="_blank">property sets</a> för IFC-filer bör tillämpas.

För <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a> som är baserade på CAD-lager ska boken SB rekommendationer 11 användas för definition av CAD-lagerbenämningen.

Samtliga <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a> ska märkas med en livcykelstatus för att bland annat särskilja kravställda värden från specificerade, inköpta, byggda och uppmätta värden. En metod för märkning är tillämpning av så-kallade kvalificerare för <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a>.

Utöver de gemensamma struktureringsprinciperna får flera struktureringsprinciper förekomma som exempelvis är specifika för en <a href="/concepts/utforare-isodis-19650-122018" target="_blank">utförare</a>.

Det ska tydligt framgå vad filer eller enskilda <a href="/concepts/objekt-ss-en-81346-12010" target="_blank">objekt</a> har för status, med hänsyn till informationsleveransprocessen, men även status med hänsyn till <a href="/concepts/inmatning-bygghandlingar-90-del-7-utgava-2" target="_blank">inmätning</a> eller digitalisering.

IT-verktyg och format för informationsutbyte ska där möjligt följa öppna standarder såsom IFC eller cityGML. Rutiner ska upprättas för hur konvertering mellan olika format ska ske.

Informationsutbyte ska ske i projektets koordinatsystem och rutiner ska upprättas för konvertering mellan olika koordinatsystem ska ske, exempelvis mellan ett lokalt eller globalt koordinatsystem, så att exempelvis en IFC-modell kan flyttas mellan olika <a href="/concepts/koordinatsystem-bygghandlingar-90-del-7-utgava-2" target="_blank">koordinatsystem</a>. Geodata och <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a> över anläggningar inklusive omgivande mark och ledningar tas i regel fram ett globalt koordinatsystem. Byggnader tas dock typiskt fram i lokalt koordinatsystem.

Principer för informationsleveransprocessen ska vara återspeglade i upplägget av en <a href="/concepts/gemensam-datamiljo-isodis-19650-122018" target="_blank">gemensam datamiljö</a> även kallad en <a href="/concepts/gemensam-datamiljo-isodis-19650-122018-en" target="_blank">Common Data Environment (CDE)</a>.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
          