<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Omfattning

Riktlinjerna fokuserar på <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a> då dessa har en central roll, men <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a> bör inte ses som en isolerad och enskild fråga. Det är en fråga om digitalisering av processer där <a href="/concepts/information-isodis-19650-122018" target="_blank">information</a> spelar en central roll och där mycket av <a href="/concepts/information-isodis-19650-122018" target="_blank">informationenege</a> är direkt eller indirekt relaterat till <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">modeller</a>. Riktlinjer innehåller således <a href="/concepts/anvisning-svensk-ordbok-2009" target="_blank">tillämpningsanvisningar</a> som är relevanta för informationshantering i stort för <a href="/concepts/livscykel-isodis-19650-122018" target="_blank">livscykeln</a> av <a href="/concepts/byggnad-boverket" target="_blank">byggnader</a> och <a href="/concepts/anlaggning-ss-en-61355-12009" target="_blank">anläggningar</a>.

Riktlinjerna avser i första hand <a href="/concepts/begrepp-svensk-ordbok-2009" target="_blank">begrepp</a>, <a href="/concepts/process-bygghandlingar-90-del-8" target="_blank">processer</a> och <a href="/concepts/metod-rikstermbanken" target="_blank">metoder</a> relaterade till leverans och nyttjande av <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a>.

* I Riktlinjerna ingår en <a href="http://www.nationella-riktlinjer.se/concepts" target="_blank">begreppslista</a> med typiska <a href="/concepts/begrepp-svensk-ordbok-2009" target="_blank">begrepp</a> relaterade till leveranser av <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a>.
* Det ingår även en samling <a href="http://www.nationella-riktlinjer.se/methods" target="_blank">metoder</a> för framställning och tillämpning av leveranser av <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a>. Metoder för exempelvis definition av CoClassbaserade <a href="/concepts/egenskap-coclass" target="_blank">egenskaper</a> i en <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodell</a> eller filbenämning är inkluderade.
* Typiska processer är beskrivna för projekt-, varuförsörjnings- och förvaltningsprocesser. Vissa processer återkommer i flera livscykelsteg, såsom upphandlings-, gransknings- och godkännandeprocesser.
* Leveransspecifikationer är inkluderade för leveranser av <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodeller</a> i form av mallar och exempel.

Riktlinjerna avser hela <a href="/concepts/livscykel-isodis-19650-122018" target="_blank">livscykeln</a> för <a href="/concepts/byggnad-boverket" target="_blank">byggnader</a> och <a href="/concepts/anlaggning-ss-en-61355-12009" target="_blank">anläggningar</a>, men har tyngdpunkt i anvisningar för projektgenomförande. 

    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>


