<small title="Informationspaketet {{ metadata.package.name }}:s version" *ngIf="metadata">v{{ metadata.package.version }}</small>
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a [href]="infopackUrl + '/index.html'" target="_blank" mat-menu-item>
    <mat-icon>link</mat-icon>
    <span>Direktlänk</span>
  </a>
  <button mat-menu-item (click)="openDialog()">
    <mat-icon svgIcon="nrb:download"></mat-icon>
    <span>Filer</span>
  </button>
</mat-menu>