<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
Riktlinjerna är upplagda på ett sådant sätt så att dessa är stöd till och möjligör olika typer av underlag i form av dokument, webportaler, appar eller andra digitala tjänster. 

Anvisningar för informationshantering i form av genomförandeplaner för BIM tas traditionellt fram i form av dokument innehållande olika begrepp, metodanvisningar och processbeskrivningar. Riktlinjerna är till stor hjälp för upprättande och förvaltning av sådana dokument. Enskilda begrepp eller hela metodbeskrivningar från Riktlinjerna kan exempelvis infogas i dokument. Riktlinjernas mallar för leveransspecifikationer kan användas som bas till upprättade av leveransspecifikationer. Principen fungerar såklart för andra dokumentyper också och är inte begränsat till genomförandeplaner för BIM.

Genomförandeplaner för BIM tenderar referera till många bilagor och tabeller av olika slag och tas allt oftare fram i form av webportaler som möjliggör en enklare distribution och integration av olika delar av anvisningarna. Riktlinjerna är även till stor hjälp för upprättande och förvaltning av webbaserade anvisningar. Varje del av Riktlinjerna förvaltas i så kallade infopacks som kan länkas till eller anropas från en webbaserat lösning. 

Ett exempel på en webbaserat anvisning är Region Dalarnas digitala anvisningar för byggprojekt. Dessa anvisningar är till stor del baserade på underlag från Riktlinjerna och bland annat begreppslistan är direkt länkat till olika begrepp från Riktlinjernas begreppsdatabas. Fördelen är att behovet av att definiera egna begrepp, metoder, processer och leveransspecifikationer är minimal, och att anvisningar utgår från ett underlag som kontinuerligt utvecklas. Allt underlag är versionshanterat och vid länkning till underlaget från Riktlinjerna kan användare välja att länka till den senaste versionen av exempelvis ett visst begrepp eller en viss specifik version.

Titta gärna på [Region Dalarnas informationsportal med digitala anvisningar för byggprojekt](http://ltdalarna.bimportal.se/)

Riktlinjerna kan även integreras i appar eller andra digitala tjänster. Kontakta oss gärna för mer information om hur ni vill nyttja Riktlinjerna. Vårt mål är att göra det så enkelt som möjligt för användare och utvecklare. Vi har bland annat tagit fram en plugin till WordPress som förenklar länkningen av underlag från Riktlinjerna.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
  