<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Introduktion  

Nationella riktlinjer för <a href="/concepts/byggnadsinformationsmodellering-bim-isodis-19650-122018" target="_blank">BIM</a> och <a href="http://www.nationella-riktlinjer.se/concepts/geodata-nrb" target="_blank">geodata</a> (<a href="">Riktlinjer</a>) utgör en samling av <a href="/concepts/rekommendation-svensk-ordbok-2009" target="_blank">rekommendationer</a> och exempeldokument kopplat till digitala informationsleveranser i <a href="/concepts/livscykel-isodis-19650-122018" target="_blank">livscykeln</a> av byggnader och anläggningar.

Utgångspunkter är bland annat olika delar av <a href="https://www.sis.se/produkter/informationsteknik-kontorsutrustning/ittillampningar/ittillampningar-inom-bygg-och-anlaggningsindustri/ss-en-iso-19650-12019/" target="_blank">SS-EN ISO 19650</a>, klassifikationssystemet <a href="https://coclass.byggtjanst.se/login" target="_blank">CoClass</a> och dataschemat <a href="https://www.buildingsmart.org/standards/bsi-standards/industry-foundation-classes/" target="_blank">Industry Foundation Classes (IFC)</a>.

I Sverige tillämpas i regel <a href="/concepts/bygghandlingar-90-swedish-standards-institute" target="_blank">Bygghandlingar 90</a>, särskilt del 7 och 8, som rekommendationer för <a href="/concepts/informationsleverans-isodis-19650-122018" target="_blank">informationsleveranser</a> för byggnader och anläggningar. Bygghandlingar 90 innehåller rekommendationer som grundar sig främst på dokumentbaserad och manuell informationshantering, men som är till stor del även relevanta för modellorienterad och automatiserad informationshantering. Där det är relevant och möjligt utgår dessa riktlinjer från Bygghandlingar 90 med syfte att ta fasta på väletablerade koncept såsom informationssamordning, filhantering, kvalitet och ändringar, <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a> och <a href="/concepts/leveransspecifikation-bygghandlingar-90-del-8" target="_blank">leveransspecifikationer</a>.

Det har kommit fram nya <a href="/concepts/begrepp-svensk-ordbok-2009" target="_blank">begrepp</a>, <a href="/concepts/metod-rikstermbanken" target="_blank">metoder</a> och <a href="/concepts/process-bygghandlingar-90-del-8" target="_blank">processer</a> för informationshantering och en ny praxis har växt fram som inte fanns när Bygghandlingar 90 skrevs. Dessutom har nya internationella standarder introducerats och har befintliga standarder blivit uppdaterade. Riktlinjerna har tagit fäste på ett antal nyckelstandarder och är en allmän aktualisering av informationshantering utgående från en praxis som har växt och växer fram.

Det övergripande konceptet för informationshanteringen redogörs i <a href="https://www.sis.se/produkter/informationsteknik-kontorsutrustning/ittillampningar/ittillampningar-inom-bygg-och-anlaggningsindustri/ss-en-iso-19650-12019/" target="_blank">SS-EN ISO 19650-1</a> som <a href="/concepts/byggnadsinformationsmodellering-bim-isodis-19650-122018" target="_blank">Building Information Modelling (BIM)</a>, vilket kan översättas som byggnadsinformationsmodellering. I samma standard identifieras bland annat begreppen <a href="/concepts/projektinformationsmodell-isodis-19650-122018" target="_blank">Project Information Model (PIM)</a> och <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">Asset Information Model (AIM)</a>, samt <a href="/concepts/gemensam-datamiljo-isodis-19650-122018" target="_blank">Common Data Environment (CDE)</a>. Dessa begrepp och den bakomliggande standarden används allt mer internationellt, men har även börjat användas i Sverige och är således en av utgångspunkter för Riktlinjerna.

Klassifikationssystemet <a href="https://coclass.byggtjanst.se/login" target="_blank">CoClass</a> är en vidareutveckling och utvidgning av klassifikationssystemet <a href="https://bsab.byggtjanst.se/" target="_blank">BSAB96</a> med bland annat fler tabeller, bättre stöd för anläggningar, egenskaper och ett livscykelperspektiv. <a href="https://coclass.byggtjanst.se/login" target="_blank">CoClass</a> passar <a href="/concepts/byggnadsinformationsmodellering-bim-isodis-19650-122018" target="_blank">BIM</a> i ett livscykelperspektiv och utgör en viktig bas för Riktlinjerna.

IFC har på senare år utvecklats från att vara ett viktigt initiativ för neutral lagring av modellbaserad information till att vara en ISO-standard. Standarden har fått ett stort genomslag internationellt och även i Sverige har standarden fått stor spridning. IFC fortsätter att utvecklas starkt, främst för anläggningar, och är därför också en av utgångspunkter för Riktlinjerna.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
  