<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Tillgångsinformationsmodell

<a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">Tillgångsinformationsmodellen</a> är <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodellen</a> som tillhör <a href="/concepts/driftskedet-isodis-19650-122018" target="_blank">driftskedet</a> av en <a href="/concepts/tillgang-isodis-19650-122018" target="_blank">tillgång</a>. Den består av en samling olika <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a>, såsom ett punktmoln, scheman, drift- och underhållsinstruktioner och produktdatablad. Modellen är basen för tillgångförvaltningsprocesser såsom städupphandling, nyckelhantering, ronderingar, m.m. 

En typ av <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">tillgångsinformationsmodell</a> är en så-kallad <a href="/concepts/digital-tvilling-nrb" target="_blank">digital tvilling</a>, som kan definieras som en digital representation av verkligheten. Objektet kan vara en hel byggnad eller anläggning, eller kan vara en ventil i ett varmvattensystem. 

Den <a href="/concepts/digital-tvilling-nrb" target="_blank">digitala tvillingen</a> består av en samling <a href="/concepts/information-isodis-19650-122018" target="_blank">information</a>, i olika format och i många fall på olika platser, som beskriver <a href="/concepts/aspekt-ss-en-81346-12010" target="_blank">egenskaper</a> av något som ska byggas eller som förvaltas. 

Den stora skillnaden jämfört med dagens praxis är att informationshanteringen är digital, att större fokus läggs på förvaltningsskedet och att utgångspunkten är att informationen är objektsorienterat. Objekt kan existera som en-, två, eller tredimensionella objekt med egenskaper, men kan även vara objekt i utan geometri i en <a href="/concepts/databas-bygghandlingar-90-del-7-utgava-2" target="_blank">databas</a> som beskriver egenskaper av exempelvis ett <a href="/concepts/utrymme-isodis-19650-122018" target="_blank">utrymme</a>. 

### Metoder för en tillgångsinformationsmodell

Skanning av befintliga anläggningar och byggnader genom <a href="/concepts/laserskanning-bygghandlingar-90-del-7-utgava-2" target="_blank">laserskanning</a> och skanning av befintliga ritningar är frekvent använda metoder för att digitalisera befintligheter och används som ett sätt att komma bort från bristfällig information i ett tillgångsbestånd. 

Det så-kallade punktmolnet som är resultatet från en <a href="/concepts/laserskanning-bygghandlingar-90-del-7-utgava-2" target="_blank">laserskanning</a> kan konverteras till en <a href="/concepts/ytmodell-bygghandlingar-90-del-7-utgava-2" target="_blank">yt</a>- eller <a href="/concepts/volymmodell-bygghandlingar-90-del-7-utgava-2" target="_blank">volymmodell</a>. 

<a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">Tillgångsinformationsmodellen</a> ska struktureras med syfte att ingående <a href="/objekt-ss-en-81346-12010" target="_blank">objekten</a> kan särskiljas från andra <a href="/objekt-ss-en-81346-12010" target="_blank">objekt</a> och göra dessa sökbara. <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a> ska användas som en metod för strukturering <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a>. <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a> ska även användas som metod för <a href="/concepts/referensbeteckning-ss-en-81346-12010" target="_blank">referensbeteckningar</a> som gör att <a href="/concepts/system-ss-en-81346-12010" target="_blank">system</a>, <a href="/concepts/komponent-ss-en-81346-12010" target="_blank">komponenter</a> och <a href="/concepts/utrymme-isodis-19650-122018">utrymmen</a> kan identifieras utifrån olika <a href="/concepts/aspekt-ss-en-81346-12010">aspekter</a>, såsom <a href="/concepts/placering-ss-en-81346-12010">placering</a> eller <a href="/concepts/funktion-ss-en-81346-12010">funktion</a>.

<a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">Informationsmängder</a> i <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">tillgångsinformationsmodellen</a> ska märkas med en livcykelstatus för att bland annat särskilja kravställda värden från uppmätta värden, vilket är en förutsättning för effektiv tillgångsförvaltning. En metod för märkning är tillämpning av så-kallade kvalificerare för <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängder</a>.

Vid behov kan <a href="/objekt-ss-en-81346-12010" target="_blank">objekt</a> i <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">tillgångsinformationsmodellen</a> integreras med andra informationskällor såsom ett tillgångsregister och genom länkning av <a href="/objekt-ss-en-81346-12010" target="_blank">objekt</a> med <a href="/concepts/dokument-bygghandlingar-90-del-7-utgava-2">dokument</a>, såsom IFC-modeller med drift- och underhållsinstruktioner, samt produktdatablad.

Det finns olika verktyg för att nyttja och navigera i en <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018" target="_blank">tillgångsinformationsmodell</a>. Beroende på behovet bör en användare nyttja ett vyverktyg. Det finns en uppsjö av olika vyverktyg; vissa fungerar på PC, Mac, telefoner och surfplattor, vissa integreras med ett flertal olika datakällor och IT-system, vissa kan visa information i 2D och 3D, vissa har möjlighet till Augmented Reality (AR), osv.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
