<div class="page-container">
  <nrb-card [footer]="{ text: 'Tillbaka', url: ['/start']}" [headerImage]="'/assets/images/under-construction.jpg'">
    <p>
      Under arbete. Denna sida kommer att uppdateras inom kort.
    </p>
  </nrb-card>
</div>
