<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Nyttjanderätt, ägande och ansvar

Riktlinjerna är publicerade baserade på öppen källinformation och följer [informationspaketstandarden](http://www.infopack.io/).

Underlaget till riktlinjerna lagras publikt och förvaltas av aktiva bidragsgivare (contributors).

Endast underlag som följer de uppsatta kraven för informationspaket kan publiceras.

För nyttjande, ansvar och ägande av riktlinjerna gäller villkoren i första hand enligt Formas och i andra hand enligt [MIT](https://opensource.org/licenses/MIT). 

För nyttjande av standarder och övriga anvisningar som riktlinjerna hänvisar till och som ägs och/eller förvaltas av tredje part hänvisas till gällande villkor för de.
</nrb-article-text>
<div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
  <nrb-version></nrb-version>
</div>
  </nrb-article>
</nrb-page-container>
