<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Projektinformationskrav


      <a href="/concepts/projektinformationskrav-isodis-19650-122018" target="_blank">Projektinformationskrav</a> definieras utifrån <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">informationsbehovet</a> relaterat till leveransen av en <a href="http://www.nationella-riktlinjer.se/concepts/tillgang-isodis-19650-122018" target="_blank">tillgång</a> som kan avse ny- eller ombyggnation av en byggnad eller anläggning.
      
      <a href="/concepts/projektinformationskrav-isodis-19650-122018" target="_blank">Projektinformationskrav</a> ska definieras i en projektspecifikation. En projektspecifikation bör innehålla specifika planer såsom en projekteringstidplan, produktionstidplan, materialleveransplaner, arbetsplatsdispositionsplan (APD), m.m. Dessa planer specificerar när eller hur vissa <a href="/concepts/aktivitet-isoiecieee-152882015" target="_blank">aktiviteter</a> ska genomföras inom ett projekt. Varje<a href="/concepts/aktivitet-isoiecieee-152882015" target="_blank">aktivitet</a> ligger till grund till <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">informationsbehov</a> och således till <a href="/concepts/projektinformationskrav-isodis-19650-122018" target="_blank">projektinformationskrav</a>.
      
      En projekteringstidplan ska specificera när en <a href="/concepts/informationsmangd-isodis-19650-122018" target="_blank">informationsmängd</a> ska levereras från <a href="/concepts/projektinformationsmodell-isodis-19650-122018" target="_blank">projektinformationsmodellen</a> för ett visst syfte. Syftet kan exempelvis vara en byggkostnadskalkyl eller bedömning av förväntad energiförbrukning.
      
      En viktig komponent i en projektspecifikation är en så-kallad work breakdown structure (WBS). En WBS bidrar till att projektgenomförandeprocessen och tillhörande leveranser är enhetligt strukturerade. Den underlättar integration av <a href="/concepts/projektinformationsmodell-isodis-19650-122018" target="_blank">projektinformationsmodellerna</a> såsom exempelvis en <a href="/concepts/informationsmodell-isodis-19650-122018" target="_blank">informationsmodell</a> med en byggkostnadskalkyl eller en tidplan.
      
      #### Metoder for projektinformationskrav
      
      Det finns olika sätt att upprätta en projektspecifikation inklusive
      tidplaner och WBS. Upplägget bör utgå från standarder där möjligt.
      Publikationen "Leda byggprojekt" kan användas som underlag för en
      projektspecifikation. Många framförallt större byggherrar har egna
      anvisningar för projektspecifikationer i form av projekthandböcker och
      tillhörande mallar för exempelvis tidplaner, byggkostnadskalkyler,
      möten, m.m.
      
      <a href="/concepts/leveransspecifikation-bygghandlingar-90-del-8" target="_blank">Leveransspecifikationer</a> ska användas för specifikation av <a href="/concepts/informationsbehov-isodis-19650-122018" target="_blank">informationsbehov</a> i form av <a href="/concepts/projektinformationsmodell-isodis-19650-122018" target="_blank">projektinformationsmodeller</a> inklusive dokument, såsom förteckningar, produktdatablad eller scheman.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
        