<!-- logo -->
<mat-toolbar class="app-toolbar sidenav-toolbar">
  <img style="cursor: pointer;" (click)="onNavigate()" class="main-logo" src="/assets/images/nrb_logo.svg" />
  <p class="sub-heading">Livscykelinformation för byggd miljö</p>
  <p class="beta-notice">BETA</p>
</mat-toolbar>

<!-- menu -->
<mat-nav-list class="test">
  <ng-template ngFor let-page [ngForOf]="pages" let-i="index" >
    <div mat-list-item class="main-nav">
      <!-- if it has link its clickable | the span is a cover to make user feel like he is clicking on link while he is clicking on span to add detection of current link and use the navigate function at same time -->
      <a *ngIf="page.url !== undefined && page.url!== null" [ngClass]="{'clickable': true}" [routerLink]="page.url" routerLinkActive="active-nav">
        <span (click)="onNavigate(page,$event)" class="catchClick insideA">
          <mat-icon [svgIcon]="page.icon" class="icon"></mat-icon>
          <span>{{ page.name }}</span>
        </span>
      </a>
      <!-- if not then its not clickable -->
      <a *ngIf="!(page.url !== undefined && page.url!== null)" routerLinkActive="active-nav" (click)="showSubmenu[i] = !showSubmenu[i]">
        <span class="insideA">
          <mat-icon [svgIcon]="page.icon" class="icon"></mat-icon>
          <span>{{ page.name }}</span>
        </span>
      </a>
      <!-- if it has children then render a toggle show children -->
      <button *ngIf="page.children !== undefined && page.children.length > 0" class="toggleSubmenu" mat-button mat-icon-button (click)="showSubmenu[i] = !showSubmenu[i]">
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu[i]}">expand_more</mat-icon>
      </button>
    </div>
    <div *ngIf="page.children !== undefined && page.children.length > 0" class="submenu" [ngClass]="{'expanded' : showSubmenu[i]}">
      <div mat-list-item *ngFor="let childPage of page.children" class="child-nav">
        <!-- if it has link its clickable -->
        <a *ngIf="childPage.url !== undefined && childPage.url!== null && !childPage.isExternal" [ngClass]="{'clickable': true}" [routerLink]="childPage.url" [queryParams]="childPage.queryParams" routerLinkActive="active-nav">
          <span (click)="onNavigate(childPage,$event)" class="catchClick insideA">
            <mat-icon [svgIcon]="childPage.icon" class="icon"></mat-icon>
            <span>{{ childPage.name }}</span>
          </span>
        </a>
        <a *ngIf="childPage.url !== undefined && childPage.url!== null && childPage.isExternal" [ngClass]="{'clickable': true}" [href]="childPage.url" target="_blank">
          <span (click)="onNavigate(childPage,$event)" class="catchClick insideA">
            <mat-icon [svgIcon]="childPage.icon" class="icon"></mat-icon>
            <span>{{ childPage.name }}</span>
          </span>
        </a>
        <!-- if not then its not clickable -->
        <a *ngIf="!(childPage.url !== undefined && childPage.url!== null)" routerLinkActive="active-nav"><span class="insideA">
          <mat-icon [svgIcon]="childPage.icon" class="icon"></mat-icon>
          <span>{{ childPage.name }}</span>
        </span></a>
      </div>
    </div>
  </ng-template>
</mat-nav-list>
