.main-nav {
  position: relative;
  left:0;
  top:0;
  padding:0;
  min-height: 48px;
  color: #36f;
}
a, a *{
  word-wrap: normal;
  overflow-wrap: normal;
}

.main-nav:hover, .child-nav:hover{
  background-color: #dddddd;
/*  color: #fff !important;*/
}
.main-nav:hover a{
  border-left: 6px solid #dddddd;
}
.child-nav:hover a{
  border-left: 6px solid #dddddd;
}

.main-nav:hover .clickable, .child-nav:hover .clickable{
/*  color: #fff !important;*/
  /* font-weight: 900 !important; */
}


.main-nav *, .child-nav *{
  color: #36f;
  fill: #36f;
  stroke: #36f;
}
.child-nav{
  font-size: 90%;
  position:relative;
  overflow: hidden;
  left:0;
  top:0;
  background-color: #f4f4f4;
  padding:0;
  min-height: 40px;
}
.main-nav a{
  border-left: 6px solid white;
}
.child-nav a{
  border-left: 6px solid #f4f4f4;
}
.active-nav {
  border-left: 6px solid #1d5294 !important;
}
.toggleSubmenu{
  position:absolute;
  right:4px;
  top: 5px;
}
.main-logo {
  max-width:100%;
  max-height:100%;
  width: 100px;

  margin-left: auto;
  margin-right: auto;
}
.main-nav a{
  display:block;
  width: 90%;
  padding:0;
  line-height: 48px;
}
a span.catchClick{
  display:block;
  word-wrap: normal;
  height:100%;
}
.main-nav a span.insideA{
  padding:0 6px 0 38px;
}
.child-nav a{
  display:block;
  width: 100%;
  padding:0;
  line-height: 40px;
}
.child-nav a span.insideA{
  padding:0 8px 0 38px;
}
a.clickable{
  cursor: pointer;
}
.icon{
  position: absolute;
  margin-right: 10px;
  width:14pt;
}
.main-nav .icon{
  top: 6px;
  left: 14px;
}
.child-nav .icon{
  top: 6px;
  left: 16px;
}
.sidenav-toolbar {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(-90deg);
}
.menu-button.rotated {
  transform: rotate(0deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  max-height: 0;
}
.submenu.expanded {
  max-height: 1200px;
}

.beta-notice {
  position: absolute;
  left: 180px;
  top: -5px;
  transform: rotate(45deg);
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  color: #d4882a;
}

.sub-heading {
  margin: -5px 0px 0px 0px;
  text-align: center;
  font-size: 12px;
  color: #1d5294;
}