.liha-search-bar {
    padding-left: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    margin-right: 10px;
    flex: 1 1 auto;
    width: 100%;
}

.liha-search-bar > .mat-icon {
    margin-right: 10px;
}

.liha-search-bar > input {
    border: none;
    padding: 8px;
    font-size: 14px;
    width: 100%;
}
