<mat-toolbar>
  <div class="liha-search-bar">
    <mat-icon svgIcon="nrb:search"></mat-icon>
    <input type="text" [formControl]="methodSearchControl" placeholder="Sök bland {{ count }} metoder" />
  </div>
</mat-toolbar>

<nrb-page-container>
  <div class="concepts-container">
    <div *ngIf="methods$ | async as methods; else loading">
        <ng-container *ngIf="methods.length; else noItems">
          <nrb-method-card *ngFor="let method of methods" [method]="method"></nrb-method-card>
        </ng-container>
        <ng-template #noItems><em>Det finns inga metoder att visa. Testa att ändra dina sökkriterier...</em></ng-template>
      </div>
      <ng-template #loading><em>Laddar...</em></ng-template>
  </div>
</nrb-page-container>
