<mat-drawer-container class="app-container">
  <mat-drawer #sidenav [mode]="sidenavService.sidenav.mode" [opened]="sidenavService.sidenav.opened" style="width: 250px; background-color: white;">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>

    <router-outlet></router-outlet>
    
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>