<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Taggning

Statusmarkering sker med hjälp av så kallade tags. "För information" och "Fastställd" syns som en s.k. tagg på Riktlinjernas webbplats. Övriga taggar används för hantering av underlag på den bakomliggande digitala plattformen. Underlag utan tagg "För information" eller "Fastställd" syns inte på Riktlinjernas webbplats i standardläge.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
