<nrb-page-container>
    <nrb-article>
      <nrb-article-text>
## Processer

Inom varje <a href="/concepts/komponent-ss-en-81346-12010">process</a> genomförs ett antal olika <a href="/concepts/aktivitet-isoiecieee-152882015">aktiviteter</a> där metoder används som resulterar i så-kallade <a href="/concepts/utlosande-handelse-isodis-19650-122018">utlösande händelser</a>. På engelska kallas dessa för <a href="/concepts/utlosande-handelse-isodis-19650-122018-en">trigger events</a>. <a href="/concepts/utlosande-handelse-isodis-19650-122018">Utlösande händelse</a> definieras som planerad eller oplanerad händelse som förändrar en <a href="/concepts/tillgang-isodis-19650-122018">tillgång</a> eller dess status under dess <a href="/concepts/livscykel-isodis-19650-122018">livscykel</a>, som resulterar i informationsutbyte av <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a>. Exempel på <a href="/concepts/utlosande-handelse-isodis-19650-122018">utlösande händelser</a> är en bygglovsansökan eller byte av en fläkt i ett ventilationssystem.

Det finns olika <a href="/concepts/komponent-ss-en-81346-12010">processer</a> där <a href="/concepts/information-isodis-19650-122018">information</a> hanteras i <a href="/concepts/livscykel-isodis-19650-122018">livscykel</a> av byggnader och anläggningar. Det finns själva livscykelprocessen som kan ses som huvudprocessen.

Ett flertal <a href="/concepts/komponent-ss-en-81346-12010">processer</a> i livscykelprocessen kan brytas ut och forma egna processer i sig. Exempel är kommunal detaljplanering eller järnvägsplanering.

Det finns även en varuförsörjningsprocess som, beroende på vilket perspektiv en har, kommer in på sidan av livscykelprocessen.

Gransknings- och godkännandeprocessen syftar till att ändra på status på <a href="/concepts/information-isodis-19650-122018">information</a> i informationsleveransprocessen för att säkerställa att informationen nyttjas utifrån önskvärd status. Gransknings- och godkännandeprocessen och tillhörande statusmarkering av <a href="/concepts/information-isodis-19650-122018">information</a> ska tillämpas vid varje <a href="/concepts/informationsleverans-isodis-19650-122018e">informationsleverans</a> för varje <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängd</a> och förekommer således genom hela livscykelprocessen och varuförsörjningsprocessen.

Processteg som definieras i Riktlinjerna förekommer delvis eller i sin helhet inom olika (inter)nationella standarder eller initiativ och organisationer såsom <a href="https://skl.se/samhallsplaneringinfrastruktur/planerabyggabo/geodatalantmateri/svenskgeoprocess.4215.html">Svensk Geoprocess</a>, <a href="https://www.trafikverket.se">Trafikverket</a>, m.fl. Riktlinjerna ämnar till att förena dessa olika definitioner till en gemensam definition.

Varje process visas med processteg, definition och kod. För vissa processteg visas även relaterade begrepp, metoder, processer och leveransspecifikationer. 
      </nrb-article-text>
      <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
        <nrb-version></nrb-version>
      </div>
    </nrb-article>
  </nrb-page-container>
    