<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Projektinformationsmodell

<a href="/concepts/projektinformationsmodell-isodis-19650-122018">Projektinformationsmodellen</a> är <a href="/concepts/informationsmodell-isodis-19650-122018">informationsmodellen</a> som är relaterad till <a href="/concepts/leveransskede-isodis-19650-122018">leveransskedet</a>. <a href="/concepts/leveransskede-isodis-19650-122018">Leveransskedet</a> är den del i <a href="/concepts/livscykel-isodis-19650-122018">livscykeln</a> av en <a href="/concepts/tillgang-isodis-19650-122018">tillgång</a> under vilken den utformas, produceras och överlämnas. Modellen tas fram under projektgenomförande och är underlag till <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018">tillgångsinformationsmodellen</a> vid projektavslut. Den består av en samling olika <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a>, såsom ett produktdatablad, scheman, kostnadskalkyler, m.m. Precis som en <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018">tillgångsinformationsmodellen</a> är <a href="/concepts/projektinformationsmodell-isodis-19650-122018">Projektinformationsmodellen</a> också en typ av digital <a href="/concepts/digital-tvilling-nrb">digital tvilling</a>.

Ett av främsta syften med en <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodell</a> är att omsätta kraven på en ny- eller ombyggnad av en byggnad eller anläggning till en realiserad fysisk byggnad eller anläggning inom givna ramar gällande tid, ekonomi, miljö, funktion, m.m. 

För en <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodell</a> gäller samma principer som för en <a href="/concepts/tillgangsinformationsmodell-isodis-19650-122018">tillgångsinformationsmodellen</a>, dock skiljer syften, kraven och därmed <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängderna</a> från båda modellerna sig från varandra. 

Många projekt genomgår en lång planeringsfas där olika typer av utredningar, planer, bygglov och andra tillstånd krävs innan produktionsskedet kan påbörjas. Projektinformationsmodeller består i förstudie- och planeringsskeden typiskt av enkla geometrier i form av <a href="/concepts/volymobjekt-bygghandlingar-90-del-7-utgava-2">volymobjekt</a> som kan visa ett helt byggnadskomplex eller enskilda <a href="/concepts/byggnadsverk-iso-219302017">byggnadsverk</a>. <a href="/concepts/projektinformationsmodell-isodis-19650-122018">Projektinformationsmodellen</a> består i dessa skeden till största delen av <a href="/concepts/geodata-nrb">geodata</a> i form av markförhållanden, befintliga ledningar, lokalt vägnät, m.m. 

Det sker en snabb digitalisering av olika delprocesser i förstudie- och planeringsskeden där bland annat digital planeringsprocess och digitalt bygglov bör nämnas. Denna digitalisering förutsätter och tvingar fram en allt större fokus på <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodeller</a> och dess <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a>. 

Se även digitalisering av planeringsprocessen av Boverket och resultatet från projektet DigSam inom Smart Built Environment.
* https://www.boverket.se/sv/samhallsplanering/digitalisering/digitalisering-av-planeringsprocessen/digitala-detaljplaner/ 
* https://www.smartbuilt.se/handbok-detaljplaner

<a href="/concepts/bestallare-isodis-19650-122018">Beställarens</a> krav på byggnaden eller anläggningen omsätts successivt till tekniska lösningar som analyseras utifrån olika <a href="/concepts/aspekt-ss-en-81346-12010">aspekter</a>, såsom miljö, ekonomi, m.m. Detta sker främst i det så-kallade projekteringsskedet. <a href="/concepts/bestallare-isodis-19650-122018">Beställarens</a> krav ska så långt som möjligt struktureras på samma sätt som <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a> för att möjliggöra analyser och bedömningar av kravuppfyllnad, exempelvis gällande energi- och vattenförbrukning.

Projekteringsskedet har traditionellt sett mynnat ut i <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a> i form av 2D-handlingar och förteckningar som underlag till upphandling av entreprenader och inköp för produktionsskedet. Det är allt vanligare att <a href="/concepts/informationsmodell-isodis-19650-122018">informationsmodeller</a> i sig används som underlag till upphandling och inköp i stället för 2D-handlingar med syfte att förenkla och effektivisera processer, samt att skapa en större säkerhet att <a href="/concepts/informationsmodell-isodis-19650-122018">informationsmodeller</a> hanteras på ett rationellt sätt. Detta ställer högre krav på hanteringen av <a href="/concepts/informationsmodell-isodis-19650-122018">informationsmodeller</a>.

Under produktionsskedet omsätts planerade tekniska lösningar till fysiska byggnader eller anläggningar. Viktiga delprocesser är varuproduktion- och leveransprocesser där varor och tillhörande <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a> i form av montageanvisningar, produktdatablad, drift- och underhållsinstruktioner levereras. Dessa <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a> är del av <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a>.

Tidplaner, byggkostnadsbedömningar, logistikplaner, APD-planer, m.m., är också del av <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a>. Olika <a href="/concepts/informationsmangd-isodis-19650-122018">informationsmängder</a> integreras med fördel med varandra för att säkerställa en koherent helhet. 

Främst i slutet av produktionsskedet sker olika kontroller med hänsyn till garantier och driftskedet. Även dessa protokoll, som i dagsläget i allt större utsträckning tas fram med hjälp av digitala verktyg, är del av <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a>.  

### Metoder för en projektinformationsmodell

<a href="/concepts/projektinformationsmodell-isodis-19650-122018">Projektinformationsmodellen</a> tas typiskt fram av en <a href="/concepts/uppgiftsgrupp-isodis-19650-122018">uppgiftsgrupp</a> bestående av flera olika specialiserade <a href="/concepts/utforare-isodis-19650-122018">utförare</a> såsom arkitekter och tekniska konsulter. Varje <a href="/concepts/utforare-isodis-19650-122018">utförare</a> ansvarar för en delmängd av den totala <a href="/concepts/informationsmodell-isodis-19650-122018">informationsmodellen</a>. Dessa modeller refereras till i vissa sammanhang som <a href="/concepts/amnesomradesmodell-trafikverket">ämnesområdesmodeller</a>. <a href="/concepts/projektinformationsmodell-isodis-19650-122018">Projektinformationsmodeller</a> ska tas fram i ett projektspecifikt koordinatsystem.

<a href="/concepts/informationsmodell-isodis-19650-122018">Informationsmodeller</a> från olika <a href="/concepts/utforare-isodis-19650-122018">utförare</a> ska med frekventa intervall integreras och samordnas med varandra i en så-kallad modellsamordningsprocess. Informationsutbyte ska i första hand utgå från IFC och Building Collaboration Format (BCF) ska tillämpas för kommunikation och uppföljning av ärenden relaterade till modellsamordningsamordningsprocessen.

<a href="/concepts/projektinformationsmodell-isodis-19650-122018">Projektinformationsmodeller</a> ska struktureras med syfte att ingående objekten kan särskiljas från andra objekt och göra dessa sökbara. <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a> ska användas som en metod för strukturering informationsmängder. <a href="https://coclass.byggtjanst.se/" target="_blank">CoClass</a> ska även användas som metod för <a href="/concepts/referensbeteckning-ss-en-81346-12010">referensbeteckningar</a> som gör att <a href="/concepts/system-ss-en-81346-12010">system</a>, <a href="/concepts/komponent-ss-en-81346-12010">komponenter</a> och utrymmen kan identifieras utifrån olika <a href="/concepts/aspekt-ss-en-81346-12010">aspekter</a>, såsom <a href="/concepts/placering-ss-en-81346-12010">placering</a> eller <a href="/concepts/funktion-ss-en-81346-12010">funktion</a>.

Branschstandarder såsom <a href="https://www.beast.se/standarder/beast-supply-material/">BEAst Supply</a> och <a href="https://www.beast.se/standarder/beast-label/">BEAst Label</a> ska tillämpas för att möjliggöra integration av varuleveransprocessen med övriga projektprocesser. Samtliga varor ska märkas med ett ETIM-nummer.

<a href="/concepts/informationsmangd-isodis-19650-122018">Informationsmängder</a> i <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a> ska märkas med en livcykelstatus för att bland annat särskilja kravställda värden från specificerade, inköpte eller byggda värden, vilket är en förutsättning för effektiv uppföljning av kravuppfyllnad. En metod för märkning är tillämpning av så-kallade kvalificerare för informationsmängder.

Vid behov kan objekt i <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a> integreras med andra informationskällor genom länkning av objekt med dokument, såsom IFC-filer med exempelvis dagsljusberäkningsresultat eller produktdatablad.

<a href="/concepts/informationsmodell-isodis-19650-122018">Informationsmodeller</a>ska utgöra underlag till olika typer av analyser såsom dagsljusberäkningar, byggkostnadskalkyl, APD-planer, m.m. 

Det finns olika verktyg för att nyttja och navigera i en <a href="/concepts/projektinformationsmodell-isodis-19650-122018">projektinformationsmodellen</a>. Beroende på behovet bör en användare nyttja ett vyverktyg. Det finns en uppsjö av olika vyverktyg; vissa fungerar på PC, Mac, telefoner och surfplattor, vissa integreras med ett flertal olika datakällor och IT-system, vissa kan visa information i 2D och 3D, vissa har möjlighet till Augmented Reality (AR), osv.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
