<nrb-page-container>
  <nrb-article>
    <nrb-article-image [height]="'200px'" [url]="'/assets/images/red-door.jpg'"></nrb-article-image>
  </nrb-article>
  <nrb-reference-card *ngFor="let reference of references$ | async" [reference]="reference"></nrb-reference-card>
</nrb-page-container>