<div class="concept-card-content">
  <h3><a [routerLink]="'/' + url + resource.slug">{{ resource[title] }}<span *ngIf="resource.abbrevation"> ({{ resource.abbrevation }})</span></a> <small>{{ resource.language }}</small></h3>
  <h4>{{ resource.source }}</h4>
  <markdown [data]="resource.definition"></markdown>
  <p *ngIf="resource.comment">
    <strong>Kommentar</strong><br>
    {{ resource.comment }}
  </p>
  <ul *ngIf="resource.links && resource.links.length > 0">
    <li *ngFor="let link of resource.links">
      <a [href]="link.uri" target="_blank">{{ link.name }}</a>
    </li>
  </ul>
  <small *ngIf="resource.synonyms && resource.synonyms.length > 0">
    Se även: <span *ngFor="let synonym of resource.synonyms"><a [routerLink]="['/', 'resources', synonym.slug]">{{ synonym.name }}</a></span>
  </small>
</div>

<div class="concept-button-box">
  <div class="concept-button-collection concept-button-collection-left">
    
    <!-- concept tags here-->
    <nrb-tags [tags]="resource.tags"></nrb-tags>

  </div>
  <div class="concept-button-collection concept-button-collection-right">
    
    <div *ngIf="sourceUrl" class="concept-tag clickable" (click)="goToSource(resource)">
      <mat-icon class="concept-tag-icon" svgIcon="nrb:source"></mat-icon>
      <p>Källdata</p>
    </div>

    <div class="concept-tag clickable" (click)="copyToClip(resource.slug)">
      <mat-icon class="concept-tag-icon" svgIcon="nrb:share"></mat-icon>
      <p>Länk</p>
    </div>

  </div>
</div>
