<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Publikationsprocessen

En författare, antingen en individ eller organisation, kan komma med ett förslag till en ändring eller ett nytt objekt. Låt oss säga att det är ett nytt begrepp. Det nya begreppet får en gransknings- och godkännandestatus "För granskning". I detta skede är det viktigt att bidraget följer alla formalia för den digitala plattformen (rätt metadata, benämning, m.m.).

Varje bidrag tilldelas en arbetsgrupp, bestående av representanter från branschen, som granskar. Frågor som då ställs är:

*	Finns själva termen på Svenska? 
*	Är innehållet tillräckligt neutralt (ej företags- eller mjukvaraspecifikt), 
*	Av bidraget av godtagbar kvalitet för branschen och inte i konflikt med annat underlag?

Efter granskningen enligt ovan kan bidraget få gransknings- och godkännandestatus "granskat". 

Bidraget kan alternativt få status "åtgärd krävs" inklusive en kommentar, eller "avrådes" om bidraget exempelvis är i konflikt med annat underlag eller om det är reklam för en vis produkt.

När bidraget har fått status "granskat" får det även status "För information". 

Bidraget kan vid det här läget även få en status "Kandidat för Riktlinjerna". Det vill säga att bidraget anses vara relevant som underlag till själva riktlinjerna.

Nästa steg i gransknings- och godkännandeprocessen är "För godkännande" vilket innebär att arbetsgruppen granskar bidraget inför godkännande.

"Godkännande" av bidraget, vilket är nästa steg, görs av förvaltningsgruppen.

Förvaltningsgruppen gör sedan bedömningen om bidraget publiceras som del av riktlinjerna "Fastställd" eller om bidraget publiceras "För information". "För information" används för att klassa underlag som anses av generellt intresse för branschen. Det kan exempelvis avse en alternativ definition.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
