<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Riktlinjer, rekommendationer, anvisningar

Nationella Riktlinjerna för BIM och geodata (Riktlinjerna) utgör <a href="/concepts/rekommendation-svensk-ordbok-2009" target="_blank">rekommendationer</a> innehållande sakligt grundade uppmaningar till lämplig handling gällande <a href="/concepts/byggnadsinformationsmodellering-bim-isodis-19650-122018" target="_blank">BIM</a> och <a href="/concepts/geodata-nrb" target="_blank">geodata</a> i Sverige. Inom standardiseringssammanhang definieras Riktlinjerna som så kallade tillämpningsanvisningar vilket innebär att Riktlinjerna beskriver hur olika (inter)nationella standarder och anvisningar skall tillämpas i en svensk kontext.

Riktlinje definieras i detta sammanhang som en anvisning om huvuddragen av viss verksamhet och hur den ska gå till och anvisning definieras som en förklarande upplysning om lämpligt tillvägagångssätt med utpekande inslag.

I Riktlinjerna används bestämd form, som ”ska” och ”skall” för att tydliggöra dessa sakligt grundade uppmaningar. Formen ”bör” används för att rekommendera en god praxis och är därmed inte lika uppmanande eller utpekande.  

Riktlinjerna gör anspråk på att utgöra Nationella Riktlinjer för <a href="/concepts/byggnadsinformationsmodellering-bim-isodis-19650-122018" target="_blank">BIM</a> och <a href="/concepts/geodata-nrb" target="_blank">geodata</a> då Riktlinjerna är utvecklade i branschsamverkan inom ramen av det strategiska innovationsprogrammet <a href="https://www.smartbuilt.se/" target="_blank">Smart Built Environment</a>. Smart Built Environment är en gemensam satsning av <a href="https://www.vinnova.se/" target="_blank">Vinnova</a>, <a href="https://formas.se/" target="_blank">Formas</a> och <a href="https://www.energimyndigheten.se/" target="_blank">Energimyndigheten</a>. Riktlinjerna är dock inget offentligt direktiv som är bindande. Det står användare dock fritt att tillämpa Riktlinjerna som ett bindande direktiv. 
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>

