<mat-divider></mat-divider>

<div class="footer" style="text-align: center; margin: 100px 0px; max-width: 1200px;">
  <a href="http://www.infopack.io" target="_blank">
    <img width="120px" src="/assets/images/infopack_logo_black.svg" />
  </a>
  <p>
    <small>Denna webbplats stöds av <a href="http://www.infopack.io" target="_blank">infopack</a></small> 
  </p>
  <nrb-version></nrb-version>
</div>
