app-footer {
    background-color: white;
}
.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
}

.footer-main > div {
    flex-basis: 31%;
    min-width: 250px;
}

.footer-main > div > h3 {
    cursor: pointer;
    text-align: center;
}

.footer-col {
    background-color: white;
    padding: 12px;
}

.footer * {
    color: #333333;
}
