:host {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e6e8ee;
    margin-bottom: 20px;
}

.concept-card-content {
    padding: 20px;
}

.concept-card-list {
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #f6f7fa;
    border-top: 1px solid #e6e8ee;
}

.concept-card-list-tags {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.concept-button-box {
    display: flex;
    flex-direction: row;
    background-color: #f6f7fa;
    border-top: 1px solid #e6e8ee;
}

.concept-button-collection-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 1 auto;
}

.concept-button-collection-left > .concept-tag {
   padding-left: 20px
}

.concept-button-collection-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.concept-button-collection-right > .concept-tag {
    padding-right: 20px
 }

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.concept-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.concept-tag > .concept-tag-icon {
    margin-right: 10px;
}
