<div class="concept-card-content">
  <a [href]="'/methods/' + method.slug"><h3>{{ method.name }}</h3></a>
  <p style="margin: 0px;">Utgivare: {{ method.publisher || '-' }} | Författare: <span *ngFor="let author of method.authors">{{ author || 'Okänd' }}</span> | Utgivningsår: {{ method.published || 'Okänt' }} | Språk: {{ method.language || 'Okänt' }}</p>
  <markdown [data]="method.description"></markdown>
  <ul *ngIf="method.links && method.links.length > 0">
    <li *ngFor="let link of method.links">
      <a [href]="link.uri" target="_blank">{{ link.name }}</a>
    </li>
  </ul>
</div>

<div class="concept-button-box">
  <div class="concept-button-collection concept-button-collection-left">

    <nrb-tags [tags]="method.tags"></nrb-tags>

  </div>
  <div class="concept-button-collection concept-button-collection-right">

    <div class="concept-tag clickable" (click)="copyToClip(method.slug)">
      <mat-icon class="concept-tag-icon" svgIcon="nrb:share"></mat-icon>
      <p>Länk</p>
    </div>

  </div>
</div>