@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$nrb-palette-primary: (
    50 : #e7edff,
    100 : #c2d1ff,
    200 : #99b3ff,
    300 : #7094ff,
    400 : #527dff,
    500 : #3366ff,
    600 : #2e5eff,
    700 : #2753ff,
    800 : #2049ff,
    900 : #1438ff,
    A100 : #ffffff,
    A200 : #fbfbff,
    A400 : #c8ceff,
    A700 : #aeb8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nrb-app-primary: mat-palette($nrb-palette-primary);
$nrb-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$mat-light-theme-background: (
    background: map-get($mat-gray, 200)
);

// The warn palette is optional (defaults to red).
$nrb-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$nrb-app-theme: mat-light-theme($nrb-app-primary, $nrb-app-accent, $nrb-app-warn);

mat-dialog-container, .mat-menu-panel, .mat-autocomplete-panel {
    background-color: white;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nrb-app-theme);