/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body {
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}
* {
    font-family: 'Lato', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    /** required for IE:11 to work */
    flex: 0 1 auto;
    max-width: 800px;
    min-height: 500px;
    margin: 20px;
}

/** Sub page hero **/
.sub-page-hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sub-page-hero > .sub-page-hero-image {
    background-position: center;
    background-size: cover;
    height: 300px;
}

.sub-page-hero > .sub-page-hero-content {
    padding: 50px;
    background-color: #ffffff;
}

.section-with-img {
    background-position: center;
    background-size: cover;
    padding: 50px;
    border: 1px solid #e6e8ee;
    margin-bottom: 30px;
}

@media(max-width: 700px) {
    .sub-page-hero > .sub-page-hero-image {
        height: 250px;
    }
    .app-row {
        display: flex;
        flex-direction: column !important;
    }
    .app-tile {
        margin-bottom: 20px;
    }

    .roles-container {
        display: flex;
        flex-direction: column !important;
    }
    .sub-page-hero-content * h1 {
        font-size: 18px;
    }

    .sub-page-hero-content > h1 {
        font-size: 18px;
    }

    .sub-page-hero-content * h2 {
        font-size: 16px;
    }

    /** concepts page **/
    .concept-card-list {
        flex-direction: column !important;
    }

    .concept-card-list-tags {
        border-right: none !important;
    }

    .liha-divider {
        border-bottom: 1px solid #e6e8ee;
    }

    .delivery-container {
        flex-direction: column !important;
    }

    .sub-page-hero > .sub-page-hero-content {
        padding: 12px;
    }
}
