#img-delivery {
    background-image: url('/assets/images/tiles.jpg');
}

.delivery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery-box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 120px;
    background-color: #d5e0ad;
    margin-bottom: 10px;
}

.delivery-box-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    min-height: 100px;
    background-color: #eaefff;
    margin-bottom: 10px;
}

.delivery-box-content {
    padding: 10px;
}