<mat-toolbar>
  <span style="flex: 1 1 100%"></span>
  <app-infopack-file-browser infopack-url="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest"></app-infopack-file-browser>
</mat-toolbar>

<div class="page-container">
  <div class="sub-page-hero">
    <div id="img-delivery" class="sub-page-hero-image"></div>
    <div class="sub-page-hero-content">
      <h2>Leveransspecifikationer</h2>       
      <p>Här hittar du leveransspecifikationer.</p>
      <p>För varje informationsleverans används en leveransspecifikation. Utgångspunkten är att leveransspecifikationer för modeller/objekt tillämpas. Leveransspecifikationer för dokument finns också på denna sida. I takt med att allt mer information hanteras modell- och objektsbaserat kommer behovet för dokument minskas. I leveransspecifikationer för dokument hittar ni bland annat informationsmängden 'Modell' som i sin tur kan specificeras med hjälp av leveransspecifikationer för modeller/objekt.
      <p>Observera att  leveransspecifikationerna endast anger exempel på de informationsmängder som kan tänkas ingå för en viss byggnadstyp. Det är därför av stor vikt att överväga vilka av dessa informationsmängder som kan ingå i en modell- och objektsorienterad leverans i just ditt projekt.</p>
      <p>Leveransspecifikationerna är fria att använda, kopiera och/eller förbättra. Syftet är att nyttja den kollektiva kunskapen och erfarenheten som finns och delas i Nationella Riktlinjer.</p>
    </div>
  </div>

  <div class="delivery-container">
      
    <div class="delivery-box" style="cursor: default;">
      <div class="delivery-box-content">
        <h3>Leveransspecifikationer - Modell/objekt</h3>
      </div>
    </div>
  </div>

  <div class="delivery-container">

      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Programhandling PH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-programhandling-ph.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-programhandling-ph.xlsx" target="_blank">xlsx</a></p>
        </div>
      </div>
  
      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Systemhandling SH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-systemhandling-sh.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-systemhandling-sh.xlsx" target="_blank">xlsx</a></p>
        </div>
      </div>

      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Bygghandling BH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-bygghandling-bh.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-bygghandling-bh.xlsx" target="_blank">xlsx</a></p>          
        </div>
      </div>
      
      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Relationshandling RH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-relationshandling-rh.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-objekt-relationshandling-rh.xlsx" target="_blank">xlsx</a></p>
        </div>
      </div>
    </div>

  <div class="delivery-container">

    <div class="delivery-box" style="cursor:default">
      <div class="delivery-box-content">
        <h3>Leveransspecifikationer - Dokument</h3>
      </div>
    </div>
  </div>
  
  <div class="delivery-container">

      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Planering</h3>
          <p>För information, åtgärd krävs</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb_infomangder_planering.xlsx" target="_blank">xlsx</a></p>
        </div>
      </div>
      
      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Programhandling PH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-programhandling-ph.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-programhandling-ph.docx" target="_blank">docx</a></p>
        </div>
      </div>
  
      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Systemhandling SH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-systemhandling-sh.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-systemhandling-sh.docx" target="_blank">docx</a></p>
        </div>
      </div>

      <div class="delivery-box-2">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Bygghandling BH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-bygghandling-bh.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-bygghandling-bh.docx" target="_blank">docx</a></p>
        </div>
      </div>
      
      <div class="delivery-box-2" style="cursor: default;">
        <div class="delivery-box-content">
          <h3>Informationsmängder - Relationshandling RH</h3>
          <p>Fastställd</p>
          <p><a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-relationshandling-rh.pdf" target="_blank">pdf</a> | <a href="http://storage.infopack.io/swe-nrb/nrb-delivery-specs/latest/assets/nrb-levspec-dokument-relationshandling-rh.docx" target="_blank">docx</a></p>
        </div>
      </div>
  
    </div>  


</div>