:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

:host:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

.concept-tag-icon {
    margin-right: 10px;
}

.complete-status {
    color: green;
    stroke: none !important;
    fill: green;
}

.pending-status {
    color: darkgoldenrod;
    stroke: none !important;
    fill: darkgoldenrod;
}