<mat-icon [ngClass]="{ 'complete-status': tag.status == 'complete', 'pending-status': tag.status == 'pending' }" class="concept-tag-icon" svgIcon="{{svgIcon}}"></mat-icon>
<p [ngClass]="{ 'complete-status': tag.status == 'complete', 'pending-status': tag.status == 'pending' }">{{ tag.short_name || 'Okänd tagg' }}</p>
