<div class="page-container">
  <div class="hero-img" [routerLink]="['/', 'introduction', 'about', 'introduction']">
    <h1>Provläs Nationella Riktlinjer!</h1>
    <h2>Livscykelinformation för byggd miljö</h2>
    <p>Under 2020 utvecklas Riktlinjerna med målet att publicera en stabil version</p>
    <p>Riktlinjerna ger praktiskt stöd för livscykelinformationshantering för byggnader och anläggningar</p>
  </div>
  <div class="app-row">

    <div class="app-tile app-tile-small">
      <div class="app-tile-content">
        <img src="/assets/images/lighthouse.png" id="img-lighthouse">
        <h3>Vem är du och vad söker du?</h3>
        <p>
          Behovet av att använda riktlinjerna ser olika ut beroende på vem du är. Läs mer om hur du på bästa och smidigaste sätt kan använda underlaget i praktiken.
        </p>
      </div>
      <div class="app-tile-button" routerLink="/introduction/about/audience">
        <span>Läs mer</span>
        <span style="flex: 1"></span>
        <mat-icon svgIcon="nrb:arrow-right"></mat-icon>    
      </div>
    </div>

    <div class="app-tile app-tile-large">
      <div id="app-tile-1-img" style="flex: 2"></div>
      <div class="app-tile-content" style="flex: 3;">
        <h3>Vad är det som definierar Nationella Riktlinjer för BIM och geodata?</h3>
        <p>De Nationella Riktlinjerna för BIM och geodata (riktlinjerna) utgör rekommendationer innehållande sakligt grundade uppmaningar till lämplig handling gällande BIM och geodata i Sverige. Inom standardiseringssammanhang definieras Riktlinjerna som så-kallade tillämpningsanvisningar vilket innebär att Riktlinjerna beskriver hur olika (inter)nationella standarder och anvisningar skall tillämpas i en svensk kontext.</p>
      </div>
      <div class="app-tile-button" routerLink="/introduction/about/guidelines">
        <span>Om Nationella Riktlinjer</span>
        <span style="flex: 1"></span>
        <mat-icon svgIcon="nrb:arrow-right"></mat-icon>
      </div>
    </div>

  </div>
  <div class="app-row">

    <div class="app-tile app-tile-large">
      <div style="flex: 1" class="full-bg-1">
        
      </div>
      <div class="app-tile-button" routerLink="/guidelines/requirements/intro">
        <span>Krav på olika sorters information</span>
        <span style="flex: 1"></span>
        <mat-icon svgIcon="nrb:arrow-right"></mat-icon> 
      </div>
    </div>
    <div class="app-tile app-tile-small">
      <div id="rogiers-bild"></div>
      <div class="app-tile-content">
        <h3>Vill du bidra?</h3>
        <p>Mycket underlag finns publicerat men vi välkomnar dig att bidra med fortsatt utveckling av riktlinjerna.</p>
      </div>
      <div class="app-tile-button" routerLink="/contact">
        <span>Kontakta oss</span>
        <span style="flex: 1"></span>
        <mat-icon svgIcon="nrb:arrow-right"></mat-icon> 
      </div>
    </div>
  </div>
</div>
