.hero-img {
    height: 300px;
    padding: 24px;
    background-image: url('/assets/images/start_bg.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-img > h1, h2 {
    color: white;
}

.hero-img > p {
    color: white;
}

.app-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}

.app-tile {
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.app-tile-small {
    flex-basis: 32%;
    min-width: 250px;
    border-radius: 8px;
}

.app-tile-large {
    flex-basis: 65%;
    min-width: 250px;
}

.app-tile-content {
    padding: 20px;
    flex: 1 1 auto;
    border-radius: 8px;
}

.app-tile-button {
    padding-left: 12px;
    padding-right: 12px;
    background-color: #1D5294;
    height: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.app-tile-button * {
    color: white !important;
}

.app-tile-button:hover {
    cursor: pointer;
}

#app-tile-1-img {
    background-image: url('/assets/images/img1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0px 0px;
}

.full-bg-1 {
    background-image: url('/assets/images/skog.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0px 0px;
}

#rogiers-bild {
    background-image: url('/assets/images/red-door.jpg');
    background-size: cover;
    background-position: center;
    height: 210px;
    border-radius: 8px 8px 0px 0px;
}

#img-lighthouse {
    display: block;
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}