<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Målgrupp

Riktlinjerna riktar sig till samtliga <a href="http://www.nationella-riktlinjer.se/concepts/aktor-isodis-19650-122018" target="_blank">aktörer</a> som är delaktiga i hanteringen av livscykelinformation. Riktlinjerna är således anpassade för en bred användargrupp med olika behov, intressen och olika kunskapsnivåer gällande informationshantering.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>

