<div class="nrb-card">
  <div class="header" *ngIf="headerImage" [ngStyle]="headerStyle"></div>
  <div class="body">
    <ng-content></ng-content>
  </div>
  <div class="footer" *ngIf="footer" [routerLink]="footer.url">
    <span>{{ footer.text }}</span>
    <span style="flex: 1"></span>
    <mat-icon svgIcon="nrb:arrow-right"></mat-icon>
  </div>
</div>
