.nrb-card .header {
    background-size: cover;
    background-position: center;
}

.nrb-card .body {
    padding: 10px;
    background-color: white;
}

.nrb-card .footer {
    display: flex;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #1D5294;
    height: 45px;
    min-height: 45px;
    align-items: center;
}

.nrb-card .footer * {
    color: white !important;
}