<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Infopack

Källinformationen för Riktlinjerna förvaltas med hjälp av Infopack (http://www.infopack.io) som är ett öppet ramverk för förvaltning av information. Information "förpackas" i öppna format och kan sedan distribueras i olika former efter behov, Riktlinjernas webbplats är en form av distribution. Riktlinjernas källinformation är förpackat i fyra paket:

*	[Begrepp](https://gitlab.com/swe-nrb/sbp-begreppslista)
*	[Processer](https://gitlab.com/swe-nrb/sbp-processer)
*	[Metoder](https://gitlab.com/swe-nrb/sbp-metoder)
*	[Leveransspecifikationer](https://gitlab.com/swe-nrb/sbp-leveransspecifikationer)

    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
