:host {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e6e8ee;
    margin-bottom: 20px;
}

.concept-card-content {
    padding: 20px;
}

.concept-card-list {
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: #f6f7fa;
    border-top: 1px solid #e6e8ee;
}

.concept-card-list-tags {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.liha-divider {
    border-right: 1px solid #e6e8ee;
}

.liha-grid-row {
    display: flex;
    flex: 1 1 auto;
}

.concept-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.concept-tag > .concept-tag-icon {
    margin-right: 10px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: rgba(1, 1, 1, .05)
}

.liha-icon * {
    color: #333 !important;
    stroke: none !important;
    fill: #333 !important;
}

.concept-button-box {
    display: flex;
    flex-direction: row;
    background-color: #f6f7fa;
    border-top: 1px solid #e6e8ee;
}

.concept-button-collection {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.concept-button-collection-left {
    justify-content: start;
    padding-left: 10px;
}

.concept-button-collection-right {
    justify-content: flex-end;
    padding-right: 10px;
}

h3 > small {
    margin-left: 6px;
}