<div class="concept-card-content">
  <h3>{{ reference.name }}</h3>
  <div style="display:flex; flex-direction: row;">
    <div style="display: flex; flex: 1 1 auto; flex-direction: column;">
      <p style="margin: 0px;">Författare: <span *ngFor="let author of reference.authors">{{ author || 'Okänd' }}</span> | Utgivningsår: {{ reference.published || 'Okänt' }} | Språk: {{ reference.language || 'Okänt' }}</p>
      <markdown [data]="reference.description"></markdown>
      <ul *ngIf="reference.links && reference.links.length > 0">
        <li *ngFor="let link of reference.links">
          <a [href]="link.uri" target="_blank">{{ link.name }}</a>
        </li>
      </ul>
    </div>
    <div style="margin-left: 20px; display: flex; align-items: center; justify-content: center;" *ngIf="reference.imageUrl">
      <img width="150" [src]="reference.imageUrl" />
    </div>
  </div>
</div>

<div class="concept-button-box">
  <div class="concept-button-collection concept-button-collection-left">
    
    <!-- concept tags here-->
    <nrb-tags [tags]="reference.tags"></nrb-tags>

  </div>
  <div class="concept-button-collection concept-button-collection-right">
    
    <!-- buttons here -->

  </div>
</div>
