<div class="page-container">
  <nrb-card [footer]="{ text: 'Tillbaka', url: ['/start']}" [headerImage]="'/assets/images/red-door.jpg'">
    <p>
      Ledsen, vi kunde inte hitta det du sökte...
    </p>
  </nrb-card>
</div>
