<nrb-page-container>
  <nrb-article>
    <nrb-article-text>
## Syfte

Syftet är att rekommendera användare enhetliga definitioner för begrepp, metoder och processer.

Riktlinjerna ger användare stöd i form av digitala verktyg, praktiska anvisningar och exempel.

Riktlinjerna ska minimera behovet av att utveckla och förvalta organisationsspecifika anvisningar för informationshantering.

Syftet är att nyttja den kollektiva kunskapen och erfarenheten som finns och delas i Nationella riktlinjerna, samt att visa på fördelen med att skapa, tillgängliggöra och förvalta information på ett kollektivt och öppet sätt.

Riktlinjerna ska främja innovativa tillämpning av själva Riktlinjerna. För effektiv förvaltning och för effektiv nyttjande genom webbplatser, appar, m.m.
    </nrb-article-text>
    <div style="background-color: white; padding-left: 40px; padding-bottom: 50px; margin-top: -50px;">
      <nrb-version></nrb-version>
    </div>
  </nrb-article>
</nrb-page-container>
