<nrb-page-container>
  <nrb-method-card *ngIf="method" [method]="method"></nrb-method-card>
  <div *ngIf="noResult"><em>Vi kunde inte hitta något begrepp med denna url.</em></div>
</nrb-page-container>